





/*Section Slide*/


*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input {
    font: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
button,
html [type="button"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
input {
    border-radius: 0;
}
[type="search"] {
    -webkit-appearance: none;
}
.hero__section--light {
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding: 36px 0px 48px 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .hero__section--light {
        min-height: 819.2px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .hero__section--light {
        min-height: 614.4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .hero__section--light {
        min-height: 384px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .hero__section--light {
        min-height: 256px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .hero__section--light {
        min-height: 454.4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .hero__section--light {
        min-height: 256px;
    }
}
@media (min-width: 1025px) {
    .hero__section--light {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .hero__section--light {
        padding: 96px 0px;
    }
}
.hero__section--light {
    box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.3);
}
.hero__section--light .slide-list__content-area {
    box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.3);
}
.hero__content {
    margin: 0 auto;
    z-index: 0;
    padding: 24px;
    margin-top: -4.44vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .hero__content {
        margin-top: -45.4656px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .hero__content {
        margin-top: -34.0992px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .hero__content {
        margin-top: -21.312px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .hero__content {
        margin-top: -14.208px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .hero__content {
        margin-top: -25.2192px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .hero__content {
        margin-top: -14.208px;
    }
}
.hero__content-container {
    text-align: center;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .hero__content-container {
        max-width: 561px;
    }
}
@media (min-width: 1025px) {
    .hero__content-container {
        max-width: 871px;
    }
}
.hero__title {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: -1.23px;
    line-height: 42px;
    margin-bottom: 24px;
}
@media (max-width: 767px) and (orientation: landscape) {
    .hero__title {
        margin-bottom: 28px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero__title {
        font-size: 62px;
        letter-spacing: -1.23px;
        line-height: 68px;
        margin-bottom: 28px;
    }
}
@media (min-width: 1025px) {
    .hero__title {
        font-size: 64px;
        letter-spacing: -1.5px;
        line-height: 76px;
        margin-bottom: 28px;
    }
}
.hero__subtitle {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px;
}
@media (max-width: 767px) and (orientation: landscape) {
    .hero__subtitle {
        margin-bottom: 48px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero__subtitle {
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 48px;
    }
}
@media (min-width: 1025px) {
    .hero__subtitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 48px;
    }
}
.hero__search-bar-padding {
    padding: 0 12px;
}
.hero__search-bar--combined {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-shrink: 1;
    -o-flex-shrink: 1;
    flex-shrink: 1;
    margin: 0 auto;
    max-width: 532px;
}
.hero__search-bar--combined {
    flex-direction: column;
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px), (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) {
    .hero__search-bar--combined {
        flex-direction: row;
    }
}
.hero__search-input-container--combined {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 29.5px;
    overflow: hidden;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    padding: 0px 0px 0px 24px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) {
    .hero__search-input-container--combined {
        border-radius: 29.5px 0px 0px 29.5px;
    }
}
.hero__search-input-container--combined {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px) {
    .hero__search-input-container--combined {
        background-color: #fff;
        border-radius: 29.5px;
        padding: 0px 0px 0px 24px;
        flex-direction: row;
    }
}
@media (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) {
    .hero__search-input-container--combined {
        background-color: #fff;
        border-radius: 29.5px 0px 0px 29.5px;
        padding: 0px 0px 0px 24px;
        flex-direction: row;
    }
}
.hero__keyword-search-input--combined,
.hero__location-search-input--combined {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    order: 1;
    margin: 0;
    border: 0;
    width: 100%;
    color: #525961;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 32px;
    padding: 8px 12px 8px 0px;
}
.hero__keyword-search-input--combined:focus,
.hero__location-search-input--combined:focus {
    outline: none;
}
@media (max-width: 767px) and (orientation: landscape) {
    .hero__keyword-search-input--combined,
    .hero__location-search-input--combined {
        padding: 14px 24px 14px 12px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero__keyword-search-input--combined,
    .hero__location-search-input--combined {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 32px;
        padding: 14px 24px 14px 12px;
    }
}
@media (min-width: 1025px) {
    .hero__keyword-search-input--combined,
    .hero__location-search-input--combined {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 32px;
        padding: 14px 24px 14px 18px;
    }
}
.hero__keyword-search-input--combined,
.hero__location-search-input--combined {
    border-radius: 29.5px;
    margin: 0 0 12px 0;
    padding: 8px 24px 8px 24px;
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px) {
    .hero__keyword-search-input--combined,
    .hero__location-search-input--combined {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 8px 0px;
    }
}
@media (min-width: 1025px) {
    .hero__keyword-search-input--combined,
    .hero__location-search-input--combined {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 32px;
        padding: 0px 24px 0px 18px;
        margin: 14px 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero__keyword-search-input--combined,
    .hero__location-search-input--combined {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 32px;
        padding: 0px 12px;
        margin: 14px 0px;
    }
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px) {
    .hero__keyword-search-input--combined {
        padding-right: 12px;
        padding-left: 0px;
    }
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px) {
    .hero__location-search-input--combined {
        border-radius: 0;
        padding-right: 12px;
        padding-left: 12px;
    }
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px), (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) {
    .hero__location-search-input--combined {
        border-radius: 0;
        border-left: solid 1px #cccccc;
    }
}
.hero__search-button,
.hero__search-button--combined {
    border: 0;
    padding: 0;
    border-radius: 0px 29.5px 29.5px 0px;
    padding: 14px 32px 14px 28px;
    line-height: 32px;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0px;
    outline: none;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    flex-shrink: 0;
    display: none;
}
.hero__search-button:hover,
.hero__search-button--combined:hover {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .hero__search-button,
    .hero__search-button--combined {
        display: block;
    }
}
@media (min-width: 1025px) {
    .hero__search-button,
    .hero__search-button--combined {
        display: block;
    }
}
.hero__search-button:hover,
.hero__search-button--combined:hover {
    cursor: pointer;
}
.hero__search-button--combined {
    border-radius: 29.5px;
    display: block;
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px) {
    .hero__search-button--combined {
        display: none;
        border-radius: 0px 29.5px 29.5px 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) {
    .hero__search-button--combined {
        display: block;
        border-radius: 0px 29.5px 29.5px 0px;
    }
}
.hero__search-icon-svg {
    display: block;
    width: 18px;
    height: 18px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .hero__search-icon-svg {
        width: 22px;
        height: 22px;
    }
}
@media (min-width: 1025px) {
    .hero__search-icon-svg {
        width: 22px;
        height: 22px;
    }
}
.hero__search-icon--combined {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    flex-shrink: 0;
    order: 2;
    background: #fff;
    border: 0;
    cursor: pointer;
    padding: 15px 24px 15px 0px;
}
.hero__search-icon--combined:focus {
    outline: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero__search-icon--combined {
        order: 0;
        padding: 19px 0px;
    }
}
@media (min-width: 1025px) {
    .hero__search-icon--combined {
        order: 0;
        padding: 19px 0px;
    }
}
.hero__search-icon--combined {
    display: none;
}
@media (max-width: 479px) and (orientation: landscape) {
    .hero__search-icon--combined {
        order: 0;
        padding: 19px 0px;
    }
}
@media (max-width: 479px) and (orientation: landscape), (min-width: 480px) and (max-width: 767px), (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) {
    .hero__search-icon--combined {
        display: block;
    }
}
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider__viewport {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slider__slides {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    line-height: 1;
}
.slider__button {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}
.slider__button--prev {
    left: 10px;
}
.slider__button--next {
    right: 10px;
}
.slide-list__item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: left 0.4s;
}
.slide-list__content-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-position: center !important;
    background-size: cover !important;
}
.autocomplete-field {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 99;
    background: white;
    max-height: 390px;
    overflow: auto;
    font-size: 13px;
}
#flightmap-hero-autocomplete-field-container {
    margin-top: 60px;
}
@media (max-width: 479px) {
    #hero-loader {
        margin-top: 75px !important;
    }
    .hero__search-input-container--combined #flightmap-hero-autocomplete-field-container {
        margin-top: 110px;
    }
}
#hero-loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #000000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 0.7s linear infinite;
    right: 5px;
    position: absolute;
    margin-top: 20px;
    display: none;
}
#hero-loader {
    border-top-color: #d79b28;
}
@media only screen and (max-width: 720px) {
    .hero-custom-btns {
        min-width: auto;
        flex-direction: column;
        align-items: center;
    }
}
.hero-custom-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    max-width: 550px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .hero__section--light {
        position: relative;
    }
}
@media only screen and (max-width: 768px) {
    .hero__section--light {
        position: relative;
    }
}
.hero__search-button,
.hero__search-button:active {
    background-color: rgb(215, 155, 40);
}
.hero__search-button:hover,
.hero__search-button:focus {
    background-color: rgb(183, 132, 34);
}
.hero__title {
    color: #d79b28;
}
.hero__subtitle {
    color: #d79b28;
}
/*! CSS Used from: Embedded */
h1,
h3 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used keyframes */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
/*END SlIDE*/




/*TYPES DE Bien*/
*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.categories__section,
.categories__section--blank {
    color: #525961;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding: 36px 0px 48px 0px;
}
@media (min-width: 1025px) {
    .categories__section,
    .categories__section--blank {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .categories__section,
    .categories__section--blank {
        padding: 96px 0px;
    }
}
.categories__section--blank {
    color: #525961;
}
.categories__content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
@media (min-width: 1025px) {
    .categories__content {
        max-width: 1132px;
    }
}
.categories__title {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.5px;
    margin: 0px 24px 36px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .categories__title {
        font-size: 36px;
        letter-spacing: -0.69px;
        line-height: 56px;
    }
}
@media (min-width: 1025px) {
    .categories__title {
        font-size: 46px;
        letter-spacing: -0.88px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .categories__title {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
@media (min-width: 1025px) {
    .categories__title {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
.categories__paragraph--markdown > p {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 24px 8px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .categories__paragraph--markdown > p {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
    }
}
@media (min-width: 1025px) {
    .categories__paragraph--markdown > p {
        font-size: 21px;
        letter-spacing: 0px;
        line-height: 32px;
    }
}
.categories__paragraph--markdown > p:last-of-type {
    margin-bottom: 36px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .categories__paragraph--markdown > p {
        max-width: 75%;
        margin: 0px auto 8px auto;
    }
    .categories__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
@media (min-width: 1025px) {
    .categories__paragraph--markdown > p {
        max-width: 75%;
        margin: 0px auto 8px auto;
    }
    .categories__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
.categories__categories {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 17px 36px 17px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .categories__categories {
        padding: 0px 41px 48px 41px;
    }
}
@media (min-width: 1025px) {
    .categories__categories {
        padding: 0px 51px 60px 51px;
    }
}
.categories__category--3 {
    padding: 6px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .categories__category--3 {
        padding: 7px;
    }
}
@media (min-width: 1025px) {
    .categories__category--3 {
        padding: 9px;
    }
}
.categories__category--3 {
    width: 50%;
    height: 123px;
}
.categories__category--3:first-child {
    width: 100%;
    height: 163px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .categories__category--3,
    .categories__category--3:first-child {
        width: 33.33333%;
        height: 169px;
    }
}
@media (min-width: 1025px) {
    .categories__category--3,
    .categories__category--3:first-child {
        width: 33.33333%;
        height: 282px;
    }
}
.categories__category-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 999999px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.categories__category-content:hover {
    transform: scale(1.011);
}
.categories__category-title {
    color: #fff;
    margin: 0 auto;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 22px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1025px) {
    .categories__category-title {
        font-size: 18px;
    }
}
.categories__categories_j5e0qh2r9__categories__category-content:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 999999px rgba(213, 155, 43, 0.9);
}
/*! CSS Used from: Embedded */
a,
h1,
h3 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
/*END TYPES DE BIENS*/


/*Gestion de notre Agence*/

*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.info__section--zebra {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    padding: 36px 0px 48px 0px;
}
@media (min-width: 1025px) {
    .info__section--zebra {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .info__section--zebra {
        padding: 96px 0px;
    }
}
.info__section--zebra {
    color: #525961;
}
.info__section--zebra {
    background-color: #f6f6f6;
}
.info__content--single-column {
    width: 100%;
    text-align: center;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__content--single-column {
        margin-top: -4.44vh;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -45.4656px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -34.0992px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -21.312px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -25.2192px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
@media (min-width: 1025px) {
    .info__content--single-column {
        margin-top: -4.44vh;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -45.4656px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -34.0992px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -21.312px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -25.2192px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
.info__content--single-column {
    margin: 0;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__content--single-column {
        max-width: 561px;
    }
}
@media (min-width: 1025px) {
    .info__content--single-column {
        max-width: 808px;
    }
}
.info__title--single-column {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.5px;
    margin: 0px 24px 36px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__title--single-column {
        font-size: 36px;
        letter-spacing: -0.69px;
        line-height: 56px;
    }
}
@media (min-width: 1025px) {
    .info__title--single-column {
        font-size: 46px;
        letter-spacing: -0.88px;
    }
}
.info__title--single-column {
    margin-bottom: 18px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__title--single-column {
        margin-bottom: 24px;
    }
}
@media (min-width: 1025px) {
    .info__title--single-column {
        margin-bottom: 24px;
    }
}
section#info__single_info_without_background_and_cta .info__title--single-column {
    color: rgb(46, 53, 61);
}
/*! CSS Used from: Embedded */
h1 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Fin Gestion de notre agence*/

/*gestion ce qui fais de nous les meilleurs*/


*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
svg:not(:root) {
    overflow: hidden;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.info__section--background-image--dark {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    padding: 36px 0px 48px 0px;
}
@media (min-width: 1025px) {
    .info__section--background-image--dark {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .info__section--background-image--dark {
        padding: 96px 0px;
    }
}
.info__section--background-image--dark {
    color: #ffffff;
    min-height: 80vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__section--background-image--dark {
        min-height: 819.2px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__section--background-image--dark {
        min-height: 614.4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__section--background-image--dark {
        min-height: 384px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__section--background-image--dark {
        min-height: 256px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__section--background-image--dark {
        min-height: 454.4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__section--background-image--dark {
        min-height: 256px;
    }
}
.info__section--background-image--dark {
    box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.5);
}
.info__content--multi-column {
    width: 100%;
    text-align: center;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__content--multi-column {
        margin-top: -4.44vh;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__content--multi-column {
        margin-top: -45.4656px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__content--multi-column {
        margin-top: -34.0992px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__content--multi-column {
        margin-top: -21.312px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__content--multi-column {
        margin-top: -14.208px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__content--multi-column {
        margin-top: -25.2192px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__content--multi-column {
        margin-top: -14.208px;
    }
}
@media (min-width: 1025px) {
    .info__content--multi-column {
        margin-top: -4.44vh;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__content--multi-column {
        margin-top: -45.4656px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__content--multi-column {
        margin-top: -34.0992px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__content--multi-column {
        margin-top: -21.312px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__content--multi-column {
        margin-top: -14.208px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__content--multi-column {
        margin-top: -25.2192px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__content--multi-column {
        margin-top: -14.208px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__content--multi-column {
        margin-top: 0;
        max-width: 1192px;
    }
}
@media (min-width: 1025px) {
    .info__content--multi-column {
        margin-top: 0;
        max-width: 1192px;
    }
}
.info__title--multi-column {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.5px;
    margin: 0px 24px 36px 24px;
    margin: 0px 36px 36px 36px;
    margin-bottom: 36px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__title--multi-column {
        font-size: 36px;
        letter-spacing: -0.69px;
        line-height: 56px;
    }
}
@media (min-width: 1025px) {
    .info__title--multi-column {
        font-size: 46px;
        letter-spacing: -0.88px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__title--multi-column {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
@media (min-width: 1025px) {
    .info__title--multi-column {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__title--multi-column {
        margin-bottom: 36px;
    }
}
@media (min-width: 1025px) {
    .info__title--multi-column {
        margin-bottom: 48px;
    }
}
.info__columns {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__columns {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
}
@media (min-width: 1025px) {
    .info__columns {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
}
.info__columns {
    padding: 0px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__columns {
        padding: 0px 36px;
    }
}
@media (min-width: 1025px) {
    .info__columns {
        padding: 0px 36px;
    }
}
.info__column--three-columns {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px 72px 0px;
}
.info__column--three-columns:last-child {
    margin: 0px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__column--three-columns {
        margin: 0px;
    }
}
@media (min-width: 1025px) {
    .info__column--three-columns {
        margin: 0px;
    }
}
@media (max-width: 767px) and (orientation: landscape) {
    .info__column--three-columns {
        max-width: 310px;
        margin-right: 24px;
    }
    .info__column--three-columns:last-child {
        margin-right: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__column--three-columns {
        max-width: 340px;
        margin-right: 36px;
    }
    .info__column--three-columns:last-child {
        margin-right: 0px;
    }
}
@media (min-width: 1025px) {
    .info__column--three-columns {
        max-width: 340px;
        margin-right: 50px;
    }
    .info__column--three-columns:last-child {
        margin-right: 0px;
    }
}
.info__column-icon {
    display: inline-block;
    margin-bottom: 24px;
}
.info__column-icon > svg {
    height: 48px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__column-icon > svg {
        height: 48px;
    }
}
@media (min-width: 1025px) {
    .info__column-icon > svg {
        height: 60px;
    }
}
.info__column-title {
    color: #525961;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    margin: 0px 36px 14px 36px;
}
@media (max-width: 767px) and (orientation: landscape) {
    .info__column-title {
        margin: 0px 0px 14px 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__column-title {
        font-size: 24px;
        letter-spacing: -0.46px;
        line-height: 28px;
        margin: 0px 0px 14px 0px;
    }
}
@media (min-width: 1025px) {
    .info__column-title {
        font-size: 28px;
        letter-spacing: -0.54px;
        line-height: 28px;
        margin: 0px 0px 28px 0px;
    }
}
.info__column-paragraph--markdown > p {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    color: #525961;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 22px;
    margin: 0px 36px 8px 36px;
}
@media (max-width: 767px) and (orientation: landscape) {
    .info__column-paragraph--markdown > p {
        margin: 0px 0px 8px 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__column-paragraph--markdown > p {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 22px;
        margin: 0px 0px 8px 0px;
    }
}
@media (min-width: 1025px) {
    .info__column-paragraph--markdown > p {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
        margin: 0px 0px 8px 0px;
    }
}
.info__column-text-content {
    width: 100%;
}
.info__section--background-image--dark .info__column-paragraph--markdown > p {
    color: #ffffff;
}
.info__section--background-image--dark .info__column-title {
    color: #ffffff;
}
.info__section--background-image--dark .info__column-icon svg g,
.info__section--background-image--dark .info__column-icon svg path {
    stroke: #ffffff;
}
.info__column-paragraph--markdown p {
    color: var(--paragraphColor);
    padding: 20px;
}
section .info__info_3lfhq16pj__info__column-icon.info__column-icon > svg g,
section .info__info_3lfhq16pj__info__column-icon.info__column-icon > svg path {
    stroke: rgb(255, 255, 255);
}
section#info__info_3lfhq16pj .info__column-paragraph--markdown p {
    color: rgb(255, 255, 255);
}
section#info__info_3lfhq16pj .info__column-title {
    color: rgb(255, 255, 255);
}
section#info__info_3lfhq16pj .info__title--multi-column {
    color: rgb(255, 255, 255);
}
/*! CSS Used from: Embedded */
h1,
h2 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
/*Fin gestion de se qui fait de nous les meilleurs */


/* GESTION DE VILLE*/

*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.locations__section {
    color: #525961;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding: 36px 0px 48px 0px;
}
@media (min-width: 1025px) {
    .locations__section {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .locations__section {
        padding: 96px 0px;
    }
}
.locations__content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
@media (min-width: 1025px) {
    .locations__content {
        max-width: 1132px;
    }
}
.locations__title {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.5px;
    margin: 0px 24px 36px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .locations__title {
        font-size: 36px;
        letter-spacing: -0.69px;
        line-height: 56px;
    }
}
@media (min-width: 1025px) {
    .locations__title {
        font-size: 46px;
        letter-spacing: -0.88px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .locations__title {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
@media (min-width: 1025px) {
    .locations__title {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
.locations__paragraph--markdown > p {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 24px 8px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .locations__paragraph--markdown > p {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
    }
}
@media (min-width: 1025px) {
    .locations__paragraph--markdown > p {
        font-size: 21px;
        letter-spacing: 0px;
        line-height: 32px;
    }
}
.locations__paragraph--markdown > p:last-of-type {
    margin-bottom: 36px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .locations__paragraph--markdown > p {
        max-width: 75%;
        margin: 0px auto 8px auto;
    }
    .locations__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
@media (min-width: 1025px) {
    .locations__paragraph--markdown > p {
        max-width: 75%;
        margin: 0px auto 8px auto;
    }
    .locations__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
.locations__locations {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 17px 36px 17px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .locations__locations {
        padding: 0px 41px 48px 41px;
    }
}
@media (min-width: 1025px) {
    .locations__locations {
        padding: 0px 51px 60px 51px;
    }
}
.locations__location--3 {
    padding: 6px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .locations__location--3 {
        padding: 7px;
    }
}
@media (min-width: 1025px) {
    .locations__location--3 {
        padding: 9px;
    }
}
.locations__location--3 {
    width: 50%;
    height: 123px;
}
.locations__location--3:first-child {
    width: 100%;
    height: 163px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .locations__location--3,
    .locations__location--3:first-child {
        width: 33.33333%;
        height: 169px;
    }
}
@media (min-width: 1025px) {
    .locations__location--3,
    .locations__location--3:first-child {
        width: 33.33333%;
        height: 282px;
    }
}
.locations__location-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 999999px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.locations__location-title {
    color: #fff;
    margin: 0 auto;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 22px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1025px) {
    .locations__location-title {
        font-size: 18px;
    }
}
.locations__locations_wdy5c3ja4__locations__location-content:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 999999px rgba(255, 255, 255, 0.9);
}
/*! CSS Used from: Embedded */
a,
h1,
h3 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
/*Fin gestion de ville*/


/*Gestion des appartement meublé*/

*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
svg:not(:root) {
    overflow: hidden;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.listings__section,
.listings__section--blank {
    color: #525961;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding: 36px 0px 48px 0px;
    background-color: #ffffff;
}
@media (min-width: 1025px) {
    .listings__section,
    .listings__section--blank {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .listings__section,
    .listings__section--blank {
        padding: 96px 0px;
    }
}
.listings__content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .listings__content {
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .listings__content {
        max-width: 1138px;
    }
}
.listings__title {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.5px;
    margin: 0px 24px 36px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .listings__title {
        font-size: 36px;
        letter-spacing: -0.69px;
        line-height: 56px;
    }
}
@media (min-width: 1025px) {
    .listings__title {
        font-size: 46px;
        letter-spacing: -0.88px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .listings__title {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
@media (min-width: 1025px) {
    .listings__title {
        max-width: 75%;
        margin: 0px auto 48px auto;
    }
}
.listings__paragraph--markdown > p {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 24px 8px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .listings__paragraph--markdown > p {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
    }
}
@media (min-width: 1025px) {
    .listings__paragraph--markdown > p {
        font-size: 21px;
        letter-spacing: 0px;
        line-height: 32px;
    }
}
.listings__paragraph--markdown > p:last-of-type {
    margin-bottom: 36px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .listings__paragraph--markdown > p {
        max-width: 75%;
        margin: 0px auto 8px auto;
    }
    .listings__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
@media (min-width: 1025px) {
    .listings__paragraph--markdown > p {
        max-width: 75%;
        margin: 0px auto 8px auto;
    }
    .listings__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
.listings__listing {
    width: 100%;
    max-width: 327px;
    background-color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    margin: 0px auto 24px auto;
}
.listings__listing:hover {
    transform: scale(1.011);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -ms-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .listings__listing {
        margin: 8px;
        margin-bottom: 24px;
        width: 33.33333%;
    }
}
@media (min-width: 1025px) {
    .listings__listing {
        margin: 12px;
        margin-bottom: 24px;
        width: 33.33333%;
    }
}
.listings__listing-image {
    width: 100%;
    padding-bottom: 100%;
}
.listings__listing-image {
    background-size: cover;
    background-position: center;
}
.listings__listing-title {
    text-align: left;
    margin: 18px 24px;
    padding: 0;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    color: #525961;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 21px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .listings__listing-title {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 21px;
    }
}
@media (min-width: 1025px) {
    .listings__listing-title {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
    }
}
.listings__listing-info {
    margin: 18px 24px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.listings__price-container {
    text-align: left;
    margin-right: 12px;
}
.listings__price-amount {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
}
@media (min-width: 1025px) {
    .listings__price-amount {
        font-size: 20px;
        letter-spacing: 0px;
    }
}
.listings__price-unit {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
}
@media (min-width: 1025px) {
    .listings__price-unit {
        font-size: 14px;
        letter-spacing: 0px;
    }
}
.listings__author-link {
    max-width: 50%;
}
.listings__author-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.listings__author-avatar-container {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    background-color: #d8d8d8;
}
.listings__author-name {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    margin-left: 8px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #7a7d80;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listings__section--blank {
    color: #525961;
}
.listing_carousel__listing_carousel_pfaijjzcw__listings__price-container {
    color: rgb(213, 155, 43);
}
/*! CSS Used from: https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-initialized .slick-slide {
    display: block;
}
/*! CSS Used from: Embedded */
a,
h1,
h3 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used from: Embedded */
.slick-slider {
    position: relative;
}
.listing_carousel__listings .listings__listing {
    display: flex;
    height: auto;
}
.listing_carousel__listings .slick-track {
    display: flex;
    height: 100%;
}
@media (max-width: 1100px) {
    .listing_carousel__listings {
        display: flex;
        max-width: 100%;
        overflow: auto;
        padding: 0 30px;
    }
    .listing_carousel__listings .listings__listing {
        min-width: 260px;
        margin: 0 10px;
    }
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
/* Fin gestion des appartement meublé*/

/*Gestion contactez-nous*/

*,
*:before,
*:after {
    box-sizing: inherit;
}
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
h1,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.info__section--background-image--dark {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    padding: 36px 0px 48px 0px;
}
@media (min-width: 1025px) {
    .info__section--background-image--dark {
        padding: 60px 0px 72px 0px;
    }
}
@media (min-width: 1025px) {
    .info__section--background-image--dark {
        padding: 96px 0px;
    }
}
.info__section--background-image--dark {
    color: #ffffff;
    min-height: 80vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__section--background-image--dark {
        min-height: 819.2px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__section--background-image--dark {
        min-height: 614.4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__section--background-image--dark {
        min-height: 384px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__section--background-image--dark {
        min-height: 256px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__section--background-image--dark {
        min-height: 454.4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__section--background-image--dark {
        min-height: 256px;
    }
}
.info__section--background-image--dark {
    box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.5);
}
.info__content--single-column {
    width: 100%;
    text-align: center;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__content--single-column {
        margin-top: -4.44vh;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -45.4656px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -34.0992px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -21.312px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -25.2192px;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape),
    only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
@media (min-width: 1025px) {
    .info__content--single-column {
        margin-top: -4.44vh;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -45.4656px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -34.0992px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -21.312px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .info__content--single-column {
        margin-top: -25.2192px;
    }
}
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .info__content--single-column {
        margin-top: -14.208px;
    }
}
.info__content--single-column {
    margin: 0;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__content--single-column {
        max-width: 561px;
    }
}
@media (min-width: 1025px) {
    .info__content--single-column {
        max-width: 808px;
    }
}
.info__title--single-column {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.5px;
    margin: 0px 24px 36px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__title--single-column {
        font-size: 36px;
        letter-spacing: -0.69px;
        line-height: 56px;
    }
}
@media (min-width: 1025px) {
    .info__title--single-column {
        font-size: 46px;
        letter-spacing: -0.88px;
    }
}
.info__title--single-column {
    margin-bottom: 18px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__title--single-column {
        margin-bottom: 24px;
    }
}
@media (min-width: 1025px) {
    .info__title--single-column {
        margin-bottom: 24px;
    }
}
.info__paragraph--markdown > p {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 24px 8px 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .info__paragraph--markdown > p {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
    }
}
@media (min-width: 1025px) {
    .info__paragraph--markdown > p {
        font-size: 21px;
        letter-spacing: 0px;
        line-height: 32px;
    }
}
.info__paragraph--markdown > p:last-of-type {
    margin-bottom: 36px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .info__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
@media (min-width: 1025px) {
    .info__paragraph--markdown > p:last-of-type {
        margin-bottom: 48px;
    }
}
.info__button {
    color: inherit;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2px;
    padding: 14px 30px;
    display: inline-block;
    border-radius: 1000px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}
.info__button:hover {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    color: #fff;
}
.info__single_info_with_cta__info__button {
    background-color: rgb(213, 157, 46);
}
.info__single_info_with_cta__info__button:hover {
    background-color: rgb(156, 100, 60);
    border-color: rgb(156, 100, 60);
}
section#info__single_info_with_cta .info__title--single-column {
    color: rgb(156, 100, 60);
}
section#info__single_info_with_cta .info__paragraph--markdown p {
    color: rgb(255, 255, 255);
}
/*! CSS Used from: Embedded */
a,
h1 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
/*Fin gestion de contactez-nous*/

/*gestion chatte*/

*,*:before,*:after{box-sizing:inherit;}
::-webkit-input-placeholder{color:inherit;opacity:0.54;}

/*Fin gestion chatte*/


