/*! CSS Used from: https://www.3n-immo.com/assets/application-67cc37fd8b648aa2ea462a26ef0581e8bbdfc0599b57f832e9caf691e5a4b943.css ; media=screen */
@media screen{
    [class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0;}
    [class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
    a [class^="icon-"],a [class*=" icon-"]{display:inline-block;}
    .icon-envelope:before{content:"\f003";}
    .icon-star:before{content:"\f005";}
    .icon-remove:before{content:"\f00d";}
    .icon-trash:before{content:"\f014";}
    .icon-lock:before{content:"\f023";}
    .icon-edit:before{content:"\f044";}
    .icon-caret-left:before{content:"\f0d9";}
    .icon-caret-right:before{content:"\f0da";}
    .input-daterange input{text-align:center;}
    .input-daterange input:last-child{border-radius:0 3px 3px 0;}
    div,h1,h2,p,form,label,article,aside{margin:0;padding:0;border:0;}
    h1,h2{font-size:1em;}
    article,aside{display:block;}
    canvas{display:inline-block;}
    b{font-weight:bold;}
    input,textarea,button{margin:0;font-size:100%;line-height:normal;vertical-align:baseline;font-family:inherit;}
    button{cursor:pointer;-webkit-appearance:button;}
    input[type="checkbox"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding:0;}
    button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
    textarea{overflow:auto;}
    a img,img{-ms-interpolation-mode:bicubic;border:0;}
    *,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
    a,input,button{-ms-touch-action:none!important;}
    .page-content{padding-bottom:3em;padding-top:0.75em;min-height:80vh;background-color:white;}
    .page-content p{margin-bottom:0.75em;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;overflow-wrap:break-word;word-wrap:break-word;}
    @media (min-width: 48em){
    .page-content{padding-top:1.5em;}
    }
    .icon-with-text-container{position:relative;display:inline-block;margin-right:0.625em;text-align:left;}
    .icon-with-text-container .icon-part{position:absolute;top:0.125em;}
    .icon-with-text-container .text-part{padding-left:1.4375em;min-height:1.875em;}
    label{width:100%;display:block;margin-top:0.75em;margin-bottom:0.1875em;font-weight:600;}
    button,.button{-moz-border-radius:0.3125em;-webkit-border-radius:0.3125em;border-radius:0.3125em;background:#FF7D2D;color:white;text-align:center;cursor:pointer;margin:0.75em 0;padding:0 1.5em;padding-bottom:4px;height:2.625em;border:0;display:table;line-height:1.5em;padding-top:0.5625em;padding-bottom:0.5625em;height:auto;}
    button .content{display:table-cell;vertical-align:middle;text-align:center;}
    button:hover,.button:hover{background:#ff6d14;color:white;}
    button:active,.button:active{background:#f95f00;color:white;}
    .inline-button-container{display:inline-block;vertical-align:top;}
    .cancel-button{-moz-border-radius:0.3125em;-webkit-border-radius:0.3125em;border-radius:0.3125em;background:gray;color:white;text-align:center;cursor:pointer;margin:0.75em 0;padding:0 1.5em;padding-bottom:4px;height:2.625em;border:0;display:table;line-height:1.5em;margin-left:0.375em;}
    .cancel-button .content{display:table-cell;vertical-align:middle;text-align:center;}
    .cancel-button:hover{background:#737373;color:white;}
    .cancel-button:active{background:#666666;color:white;}
    .lightbox{display:none;position:relative;margin:15em auto;max-width:33em;padding:1.875em 1.5em;}
    .lightbox-content{position:relative;width:100%;background:white;padding:1.5em;border-radius:10px;}
    a.lightbox-x{width:1.875em;height:1.875em;padding:15px 30px 30px 15px;position:absolute;right:0;top:0;color:#aaacad;z-index:1;}
    a.lightbox-x:hover{color:#919294;}
    @media (min-width: 48em){
    a.lightbox-x{width:2.25em;height:2.25em;padding:25px 45px 45px 25px;font-size:1.375em;line-height:1.09091em;font-weight:600;}
    }
    *,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    h1,h2{color:#222;font-weight:700;font-family:inherit;line-height:1.333;text-rendering:optimizeLegibility;}
    .modal-overlay{position:fixed;z-index:10;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);visibility:hidden;opacity:0;transition:visibility 0s linear 0.3s, opacity 0.3s;}
    .modal-wrapper{position:absolute;z-index:9999;top:6em;left:50%;width:32em;margin-left:-16em;background-color:#fff;box-shadow:0 0 1.5em rgba(0,0,0,0.35);}
    .modal-transition{transition:all 0.3s 0.12s;transform:translateY(-10%);opacity:0;}
    .modal-header,.modal-content{padding:1em;}
    .modal-header{position:relative;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.06);border-bottom:1px solid #e8e8e8;}
    .modal-heading{font-size:1.125em;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:bold;}
    .modal-content>*:first-child{margin-top:0;}
    .modal-content>*:last-child{margin-bottom:0;}
    .modal-btns{display:flex;justify-content:space-between;}
    .fb-like>span{margin-right:15px;}
    .fb-like>span>iframe{width:auto!important;}
    .datepicker-start-wrapper{width:45%;float:left;}
    .datepicker-start-wrapper input[name=start_on_datepicker]{border-width:0px 0px 2px 0px;border-radius:0px;}
    .datepicker-end-wrapper{width:45%;float:right;}
    .datepicker-end-wrapper input[name=end_on_datepicker]{border-width:0px 0px 2px 0px;border-radius:0px;}
    .input-daterange{margin-bottom:1.125em;}
    .input-daterange input:last-child{border-radius:0.3125em;}
    .input-daterange input{text-align:left;}
    .row,.row-with-divider{*zoom:1;margin-bottom:0.75em;}
    .row:after,.row-with-divider:after{content:"";display:table;clear:both;}
    .row-with-divider{border-bottom:1px solid #c3c3c3;position:relative;}
    .col-4{width:100%;margin-bottom:0.75em;min-height:1px;}
    .col-4:last-child{margin-bottom:0;}
    @media (min-width: 48em){
    .col-4{width:33.33333%;float:left;padding-left:0.75em;padding-right:0.75em;margin-bottom:0;}
    }
    .col-8{width:100%;margin-bottom:0.75em;min-height:1px;}
    .col-8:last-child{margin-bottom:0;}
    @media (min-width: 48em){
    .col-8{width:66.66667%;float:left;padding-left:0.75em;padding-right:0.75em;margin-bottom:0;}
    }
    .col-12{width:100%;margin-bottom:0.75em;min-height:1px;}
    .col-12:last-child{margin-bottom:0;}
    @media (min-width: 48em){
    .col-12{width:100%;float:left;padding-left:0.75em;padding-right:0.75em;margin-bottom:0;}
    }
    @media (min-width: 48em){
    [class*=col-]:first-child{padding-left:0;}
    [class*=col-]:last-child{padding-right:0;}
    }
    input[type=text],textarea{-moz-border-radius:0.3125em;-webkit-border-radius:0.3125em;border-radius:0.3125em;border:2px solid #c3c3c3;min-height:42px;width:100%;padding:0.25em 0.5em;}
    @media (min-width: 48em){
    input[type=text],textarea{margin:0;padding:0.5em 0.6875em;}
    }
    a{text-decoration:none;color:#FF7D2D;}
    a:hover{color:#e05500;}
    a:active{color:#ad4200;}
    h1{-webkit-font-smoothing:antialiased;}
    h1,h2{font-family:'Source Sans Pro', helvetica, sans-serif;color:#171717;}
    h1{margin:0em 0 0.75em;font-weight:700;}
    @media (min-width: 37.5em){
    h1{font-size:1.625em;line-height:1.38462em;font-weight:600;margin-top:0.23077em;margin-bottom:0.46154em;}
    }
    h2{margin:0em 0 0.75em;font-size:1em;line-height:1.5em;font-weight:500;}
    @media (min-width: 37.5em){
    h2{font-size:1.375em;line-height:1.09091em;font-weight:600;font-weight:500;text-transform:none;}
    }
    .clearfix{overflow:hidden;*zoom:1;}
    .left{float:left;}
    .right{float:right;}
    .favourite-icon{height:40px;padding:8px;border-radius:50%;}
    .favourite-icon:hover{background:rgba(0,0,0,0.2)!important;border-radius:50%;padding:8px;cursor:pointer;}
    .grey-heart .in_favorite{display:none;}
    @media only screen and (max-width: 600px){
    .modal-wrapper{top:10%!important;left:69%!important;width:100%!important;}
    }
    .modal-overlay{position:fixed;z-index:10;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);visibility:hidden;opacity:0;transition:visibility 0s linear 0.3s, opacity 0.3s;}
    .modal-wrapper{position:fixed;z-index:9999;top:6em;left:40%;width:60%;margin-left:-16em;background-color:#fff;box-shadow:0 0 1.5em rgba(0,0,0,0.35);}
    .modal-transition{transition:all 0.3s 0.12s;transform:translateY(-10%);opacity:0;}
    .modal-header,.modal-content{padding:1em;}
    .modal-header{position:relative;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.06);border-bottom:1px solid #e8e8e8;}
    .modal-heading{font-size:1.125em;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:bold;}
    .modal-content>*:first-child{margin-top:0;}
    .modal-content>*:last-child{margin-bottom:0;}
    .modal-btns{display:flex;justify-content:space-between;}
    .icon-star:before{color:#f4b508;}
    .wrapper{background:white;margin:0 auto;max-width:78em;padding-left:1.125em;padding-right:1.125em;}
    @media (min-width: 48em){
    .wrapper{padding-left:0.75em;padding-right:0.75em;}
    }
    .listing-image-carousel{position:relative;overflow:hidden;width:100%;padding-bottom:66.66667%;}
    .listing-image-carousel:hover>.listing-image-navi{display:block;}
    .listing-image-carousel>.listing-image-navi{display:none;}
    .listing-image-navi-arrow-container{display:inline-block;vertical-align:middle;width:100%;}
    .no-androidprejellybean .listing-image-navi-arrow-container{font-size:16px;}
    .navigate-icon-fix{position:relative;top:4px;}
    .listing-image-arrow-icon-container{position:relative;padding:1.125em 0.75em;background-color:rgba(0,0,0,0.1);color:rgba(255,255,255,0.5);display:inline-block;}
    .listing-image-arrow-icon-container.left{-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
    .listing-image-arrow-icon-container.right{-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
    .listing-image-navi-arrow{font-size:1.375em;line-height:1.09091em;font-weight:600;}
    .listing-image-navi-right,.listing-image-navi-left{position:absolute;top:0;height:100%;-webkit-tap-highlight-color:transparent;background-image:url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);}
    .no-androidprejellybean .listing-image-navi-right,.no-androidprejellybean .listing-image-navi-left{font-size:0;}
    .listing-image-navi-right:before,.listing-image-navi-left:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
    .listing-image-navi-right:hover .listing-image-arrow-icon-container,.listing-image-navi-left:hover .listing-image-arrow-icon-container{background-color:rgba(0,0,0,0.3);color:white;}
    .listing-image-navi-right{right:0;text-align:right;width:75%;background:transparent;}
    .listing-image-navi-left{left:0;text-align:left;width:25%;background:transparent;}
    .listing-image-frame{width:100%;padding-bottom:66.66667%;background-color:#3c3c3c;position:absolute;top:0px;left:0px;}
    .listing-image-frame-content{width:100%;position:absolute;bottom:0;left:0;right:0;top:0;margin-top:-1px;overflow:hidden;}
    .no-androidprejellybean .listing-image-frame-content{font-size:0;}
    .listing-image-frame-content:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
    .listing-image-vertical-centering{display:inline-block;vertical-align:middle;width:100%;}
    .no-androidprejellybean .listing-image-vertical-centering{font-size:16px;}
    .listing-image-vertical-centering.too-narrow{height:100%;vertical-align:inherit;}
    .listing-image{display:block;margin:auto;width:100%;height:auto;}
    .listing-image.too-narrow{display:block;margin:auto;height:100%;width:auto;}
    .listing-details-container{position:relative;overflow-wrap:break-word;word-wrap:break-word;}
    .listing-details-container .mark-fav-listing{position:absolute;right:40px;top:15px;width:36px;height:36px;border-radius:50%;border:1px solid #f0f0f0;box-shadow:0 1px 4px 0 rgba(0,0,0,0.1);background:#fff;}
    .listing-details-container .mark-fav-listing .mark-favourite{position:absolute;top:3px;right:3px;}
    .listing-details-container .mark-fav-listing .mark-favourite label{margin:0px!important;}
    .listing-details-container .mark-fav-listing .mark-favourite label{margin:0;}
    .listing-details-container .mark-fav-listing .favourite-icon{height:100%;padding:0;}
    .listing-social{overflow:hidden;*zoom:1;}
    .listing-fb-like-button,.listing-tweet-button{float:left;margin-right:2.4em;}
    .listing-price{clear:both;}
    .listing-price-amount{font-size:2.625em;line-height:1.14286em;font-weight:700;color:#474747;display:block;float:left;margin-right:0.375em;}
    .listing-price-quantity{vertical-align:top;position:relative;top:0.3125em;color:gray;}
    .listing-author{position:relative;}
    .listing-author-avatar{width:6.75em;height:6.75em;position:absolute;top:0;left:0;}
    .listing-author-avatar>a{display:block;width:100%;height:100%;}
    .listing-author-avatar-image{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;display:block;width:100%;height:100%;}
    .listing-author-details{width:100%;padding-left:6.75em;min-height:6.75em;padding-left:7.875em;margin-top:0.375em;margin-bottom:1.125em;}
    .listing-author-name-link{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    .listing-view-admin-links{margin:0.75em 0;}
    .enabled-book-button{margin-top:0;width:100%;text-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;}
    .enabled-book-button{-moz-border-radius:0.3125em;-webkit-border-radius:0.3125em;border-radius:0.3125em;background:#FF7D2D;color:white;text-align:center;cursor:pointer;margin:0.75em 0;padding:0 1.5em;padding-bottom:4px;height:2.625em;border:0;display:table;line-height:1.5em;font-size:22px;height:60px;line-height:24px;padding-bottom:3px;}
    .enabled-book-button .content{display:table-cell;vertical-align:middle;text-align:center;}
    .enabled-book-button:hover{background:#ff6d14;color:white;}
    .enabled-book-button:active{background:#f95f00;color:white;}
    .enabled-book-button .content{width:100%;height:100%;display:flex;justify-content:center;align-items:center;margin:auto;}
    .delete-popup-btn{cursor:pointer;}
    .max-booking-days{font-size:18px;font-weight:500;}
    .enabled-book-button{margin:0.55em 0;}
    .listing-author-contact-link:hover{cursor:pointer;box-shadow:0px 3px 5px rgba(0,0,0,0.3);}
    .report-listing{border:1px solid #ffb2b2;background:#ffd8d8;color:#a00000;font-size:14px;width:100%;text-transform:uppercase;display:flex;justify-content:center;align-items:center;padding-top:0;padding-bottom:0;outline:none;margin-top:110px;}
    @media only screen and (max-width: 600px){
    .report-listing{margin-top:0;}
    }
    .report-listing:hover{border:1px solid #ff8383;background:#ffc0c0;color:#a00000;cursor:pointer;}
    .warn,.warn::before,.warn::after{position:relative;padding:0;margin:0;}
    .warn{font-size:36px;color:transparent;}
    .warn.warning{display:inline-block;top:0.225em;margin-right:10px;width:1.15em;height:1.15em;overflow:hidden;border:none;background-color:transparent;border-radius:0.625em;}
    .warn.warning::before{content:"";display:block;top:-0.08em;left:0em;position:absolute;border:transparent 0.6em solid;border-bottom-color:#fd3;border-bottom-width:1em;border-top-width:0;box-shadow:#999 0 1px 1px;}
    .warn.warning::after{display:block;position:absolute;top:0.3em;left:0;width:100%;padding:0 1px;text-align:center;font-family:"Garamond";content:"!";font-size:0.65em;font-weight:bold;color:#333;}
    .report-listing-modal,.ratings-modal{position:absolute;z-index:10000;top:0;left:0;visibility:hidden;width:100%;height:100%;}
    @media only screen and (max-width: 600px){
    .modal-wrapper{top:10%!important;left:68%!important;width:100%!important;}
    }
    .modal-overlay{position:fixed;z-index:10;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);visibility:hidden;opacity:0;transition:visibility 0s linear 0.3s, opacity 0.3s;}
    .modal-wrapper{position:fixed;z-index:9999;top:10px;left:50%;width:32em;margin-left:-16em;background-color:#fff;box-shadow:0 0 1.5em rgba(0,0,0,0.35);}
    .modal-transition{transition:all 0.3s 0.12s;transform:translateY(-10%);opacity:0;}
    .modal-header,.modal-content{padding:1em;}
    .modal-header{position:relative;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.06);border-bottom:1px solid #e8e8e8;}
    .modal-heading{font-size:1.125em;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:bold;}
    .modal-content>*:first-child{margin-top:0;}
    .modal-content>*:last-child{margin-bottom:0;}
    .modal-btns{display:flex;justify-content:space-between;}
    .report-reasons-row{display:flex;justify-content:space-evenly;align-items:center;margin:16px 5px;}
    .report-reason{display:flex;justify-content:center;align-items:center;}
    .report-reason>label{margin:0!important;padding:0 8px;}
    .listing-price-invoice{display:flex;justify-content:space-between;align-items:center;}
    .listing-price-invoice-container{background:#eeeeee;padding:0 10px;margin:10px 0;}
    .listing-price-amount-invoice,.listing-price-total{font-size:22px!important;font-weight:bolder;}
    .listing-price-invoice{padding:5px 0;}
    .listing-price-amount-invoice{margin-right:0;}
    .product-flightmap{height:350px;z-index:99;}
    .flex-listing-details-and-actions{font-weight:500;font-size:20px;display:flex;padding:0 0.14063em;position:relative;max-width:1128px;margin:50px auto 117px;}
    .flex-listing-details-and-actions .thumbnail-author-avatar{display:flex;position:absolute;left:60px;top:-110px;margin-left:0;margin-top:0;width:96px;height:96px;}
    @media screen and (max-width: 768px){
    .flex-listing-details-and-actions .thumbnail-author-avatar{width:60px;height:60px;left:25px;top:-95px;}
    }
    .flex-listing-details-and-actions .flex-headings{font-weight:600;font-size:20px;color:#b2b2b2;margin-bottom:0.975em;}
    .flex-listing-details-and-actions aside{width:100%;}
    .flex-listing-details-and-actions .amount-and-listing-title{display:flex;margin-bottom:40px;}
    .flex-listing-details-and-actions .listing-description-flex{font-size:20px;margin-bottom:40px;}
    .flex-listing-details-and-actions .listing-all-details{margin-right:20px;}
    @media screen and (max-width: 1024px){
    .flex-listing-details-and-actions .listing-all-details{width:100%;padding:0 24px;}
    .flex-listing-details-and-actions .listing-all-details .listing-price{display:none;}
    }
    .flex-listing-details-and-actions .book-or-listing-actions{width:80%;margin:0 auto;border-left-style:solid;border-left-width:1px;border-left-color:#e7e7e7;padding-left:60px;flex-basis:420px;flex-shrink:0;}
    @media screen and (min-width: 1024px){
    .flex-listing-details-and-actions .book-or-listing-actions .row-with-divider{position:relative;top:calc(80px + 15px);}
    }
    .flex-listing-details-and-actions .book-or-listing-actions .input-daterange input:last-child{border-radius:0px;}
    .flex-listing-details-and-actions .book-or-listing-actions .booking-listing{font-weight:600;font-size:24px;line-height:35px;letter-spacing:-.3px;color:#4a4a4a;}
    .flex-listing-details-and-actions .book-or-listing-actions .close_datepicker-btn{display:none;}
    @media screen and (max-width: 1024px){
    .flex-listing-details-and-actions .book-or-listing-actions .close_datepicker-btn{background-color:transparent;color:#4a4a4a;padding:27px 30px;position:absolute;top:0;right:0;z-index:101;display:flex;margin:0;border:0;}
    .flex-listing-details-and-actions .book-or-listing-actions .close_datepicker-btn .icon-remove{font-size:larger;padding-left:5px;}
    .flex-listing-details-and-actions .book-or-listing-actions .close_datepicker-btn:hover{background-color:#fff;color:#4a4a4a;}
    .flex-listing-details-and-actions .book-or-listing-actions .close_datepicker-btn:focus{outline:none;}
    }
    @media screen and (max-width: 1024px){
    .flex-listing-details-and-actions .book-or-listing-actions{visibility:hidden;border:0;padding:0;margin:0;position:fixed;width:100%;flex-direction:column;top:0;right:0;bottom:0;left:0;z-index:100;}
    .flex-listing-details-and-actions .book-or-listing-actions .datepicker-popup-content{padding:100px 50px 0px;}
    .flex-listing-details-and-actions .book-or-listing-actions .datepicker-popup-content h1{margin-bottom:50px;}
    .flex-listing-details-and-actions .book-or-listing-actions .datepicker-popup-content .enabled-book-button{margin-top:100px;}
    .flex-listing-details-and-actions .book-or-listing-actions .listing-message-links-flex{padding:0;background-color:#fff;background-image:none;width:576px;height:700px;overflow:auto;justify-content:center;align-items:flex-start;flex-grow:1;margin:100px auto;position:relative;}
    .flex-listing-details-and-actions .book-or-listing-actions .booking-listing{font-size:48px;}
    }
    @media screen and (max-width: 768px){
    .flex-listing-details-and-actions .book-or-listing-actions .listing-message-links-flex{margin:0;width:100%;height:100vh!important;}
    .flex-listing-details-and-actions .book-or-listing-actions .datepicker-popup-content{margin:0;padding:100px 24px;}
    }
    @media screen and (max-width: 1024px){
    .flex-listing-details-and-actions .book-or-listing-actions .listing-message-links-flex{height:calc(100vh - 200px);}
    }
    .flex-listing-details-and-actions .booking-panel{visibility:hidden;}
    @media screen and (max-width: 1024px){
    .flex-listing-details-and-actions .booking-panel{visibility:visible;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link{display:flex;padding:18px 60px;background-color:#fff;-webkit-box-shadow:0 -2px 4px 0 rgba(0,0,0,0.1);box-shadow:0 -2px 4px 0 rgba(0,0,0,0.1);-webkit-transform:translateZ(0);transform:translateZ(0);left:0;bottom:0;width:100vw;position:fixed;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .price-of-listing{display:flex;flex-direction:column;align-items:center;flex-shrink:0;margin-right:22px;padding:5px 12px;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .listing-price-amount-flex{font-weight:600;font-size:24px;letter-spacing:-.3px;line-height:32px;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .listing-price-quantity-flex{font-weight:400;font-size:13px;line-height:16px;letter-spacing:-.1px;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .perform-listing-actions-btn{padding:2px 5px;color:#fff;min-height:65px;width:100%;-webkit-transition:all .1s ease-in-out;-o-transition:all ease-in-out .1s;transition:all .1s ease-in-out;margin:0;border-radius:0px;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .perform-listing-actions-btn:focus{outline:none;}
    }
    @media screen and (max-width: 1024px){
    .flex-listing-details-and-actions{display:block;}
    .flex-listing-details-and-actions .booking-listing{line-height:48px!important;}
    }
    .listing-image-thumbnail-stripe{width:100%;overflow:hidden;height:64px;margin-top:2px;position:relative;}
    .listing-image-thumbnail-container{position:relative;float:left;}
    .listing-image-thumbnail-container:hover>.fade,.listing-image-thumbnail-container.selected>.fade{display:none;}
    .listing-image-thumbnail-container>.fade{position:absolute;top:0px;left:0px;right:0px;bottom:0px;background-color:rgba(255,255,255,0.6);}
    .listing-image-thumbnail{width:64px;height:64px;padding:2px;border-radius:5px;cursor:pointer;}
    #delete_listing_popup .delete-text{font-size:1.125em;margin-top:1.5em;text-align:center;}
    #delete_listing_popup .delete-buttons{text-align:center;}
    #delete_listing_popup .delete-buttons .save-btn{display:flex;color:white;align-items:center;}
    #delete_listing_popup .delete-buttons .save-btn i{margin-right:2px;}
    }
    /*! CSS Used from: Embedded */
    button,.button,.enabled-book-button{background:#d79b28;}
    button:hover,.button:hover,.enabled-book-button:hover{background:#c28b24;}
    button:active,.button:active,.enabled-book-button:active{background:#ac7c20;}
    a{color:#d79b28;}
    a:hover{color:#976c1c;}
    a:active{color:#6c4d14;}
    .listing-author-contact-link{background:#d79b28;}
    /*! CSS Used from: Embedded */
    .listing-view-admin-link .delete-popup-btn{cursor:pointer;color:#d79B28;}
    .listing-view-admin-link .delete-popup-btn:hover{cursor:pointer;color:#976c1c;}
    /*! CSS Used from: Embedded */
    input[name=start_on_datepicker],input[name=end_on_datepicker]{border-bottom-color:#d79B28;}
    .listing-price-amount{color:#d79B28;}
    a,h1,h2,.text-part{font-family:'sofiapro', helvetica, sans-serif;}
    /*! CSS Used from: https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css ; media=screen */
    @media screen{
    .mapboxgl-map{font:12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;overflow:hidden;position:relative;-webkit-tap-highlight-color:rgba(0,0,0,0);text-align:left;}
    .mapboxgl-map:-webkit-full-screen{width:100%;height:100%;}
    .mapboxgl-canary{background-color:salmon;}
    .mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right,.mapboxgl-ctrl-top-left,.mapboxgl-ctrl-top-right{position:absolute;pointer-events:none;z-index:2;}
    .mapboxgl-ctrl-top-left{top:0;left:0;}
    .mapboxgl-ctrl-top-right{top:0;right:0;}
    .mapboxgl-ctrl-bottom-left{bottom:0;left:0;}
    .mapboxgl-ctrl-bottom-right{right:0;bottom:0;}
    .mapboxgl-ctrl{clear:both;pointer-events:auto;transform:translate(0);}
    .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl{margin:0 0 10px 10px;float:left;}
    a.mapboxgl-ctrl-logo{width:88px;height:23px;margin:0 0 -4px -4px;display:block;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='88' height='23' viewBox='0 0 88 23' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill-rule='evenodd'%3E%3Cdefs%3E%3Cpath id='a' d='M11.5 2.25c5.105 0 9.25 4.145 9.25 9.25s-4.145 9.25-9.25 9.25-9.25-4.145-9.25-9.25 4.145-9.25 9.25-9.25zM6.997 15.983c-.051-.338-.828-5.802 2.233-8.873a4.395 4.395 0 013.13-1.28c1.27 0 2.49.51 3.39 1.42.91.9 1.42 2.12 1.42 3.39 0 1.18-.449 2.301-1.28 3.13C12.72 16.93 7 16 7 16l-.003-.017zM15.3 10.5l-2 .8-.8 2-.8-2-2-.8 2-.8.8-2 .8 2 2 .8z'/%3E%3Cpath id='b' d='M50.63 8c.13 0 .23.1.23.23V9c.7-.76 1.7-1.18 2.73-1.18 2.17 0 3.95 1.85 3.95 4.17s-1.77 4.19-3.94 4.19c-1.04 0-2.03-.43-2.74-1.18v3.77c0 .13-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V8.23c0-.12.1-.23.23-.23h1.4zm-3.86.01c.01 0 .01 0 .01-.01.13 0 .22.1.22.22v7.55c0 .12-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V15c-.7.76-1.69 1.19-2.73 1.19-2.17 0-3.94-1.87-3.94-4.19 0-2.32 1.77-4.19 3.94-4.19 1.03 0 2.02.43 2.73 1.18v-.75c0-.12.1-.23.23-.23h1.4zm26.375-.19a4.24 4.24 0 00-4.16 3.29c-.13.59-.13 1.19 0 1.77a4.233 4.233 0 004.17 3.3c2.35 0 4.26-1.87 4.26-4.19 0-2.32-1.9-4.17-4.27-4.17zM60.63 5c.13 0 .23.1.23.23v3.76c.7-.76 1.7-1.18 2.73-1.18 1.88 0 3.45 1.4 3.84 3.28.13.59.13 1.2 0 1.8-.39 1.88-1.96 3.29-3.84 3.29-1.03 0-2.02-.43-2.73-1.18v.77c0 .12-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V5.23c0-.12.1-.23.23-.23h1.4zm-34 11h-1.4c-.13 0-.23-.11-.23-.23V8.22c.01-.13.1-.22.23-.22h1.4c.13 0 .22.11.23.22v.68c.5-.68 1.3-1.09 2.16-1.1h.03c1.09 0 2.09.6 2.6 1.55.45-.95 1.4-1.55 2.44-1.56 1.62 0 2.93 1.25 2.9 2.78l.03 5.2c0 .13-.1.23-.23.23h-1.41c-.13 0-.23-.11-.23-.23v-4.59c0-.98-.74-1.71-1.62-1.71-.8 0-1.46.7-1.59 1.62l.01 4.68c0 .13-.11.23-.23.23h-1.41c-.13 0-.23-.11-.23-.23v-4.59c0-.98-.74-1.71-1.62-1.71-.85 0-1.54.79-1.6 1.8v4.5c0 .13-.1.23-.23.23zm53.615 0h-1.61c-.04 0-.08-.01-.12-.03-.09-.06-.13-.19-.06-.28l2.43-3.71-2.39-3.65a.213.213 0 01-.03-.12c0-.12.09-.21.21-.21h1.61c.13 0 .24.06.3.17l1.41 2.37 1.4-2.37a.34.34 0 01.3-.17h1.6c.04 0 .08.01.12.03.09.06.13.19.06.28l-2.37 3.65 2.43 3.7c0 .05.01.09.01.13 0 .12-.09.21-.21.21h-1.61c-.13 0-.24-.06-.3-.17l-1.44-2.42-1.44 2.42a.34.34 0 01-.3.17zm-7.12-1.49c-1.33 0-2.42-1.12-2.42-2.51 0-1.39 1.08-2.52 2.42-2.52 1.33 0 2.42 1.12 2.42 2.51 0 1.39-1.08 2.51-2.42 2.52zm-19.865 0c-1.32 0-2.39-1.11-2.42-2.48v-.07c.02-1.38 1.09-2.49 2.4-2.49 1.32 0 2.41 1.12 2.41 2.51 0 1.39-1.07 2.52-2.39 2.53zm-8.11-2.48c-.01 1.37-1.09 2.47-2.41 2.47s-2.42-1.12-2.42-2.51c0-1.39 1.08-2.52 2.4-2.52 1.33 0 2.39 1.11 2.41 2.48l.02.08zm18.12 2.47c-1.32 0-2.39-1.11-2.41-2.48v-.06c.02-1.38 1.09-2.48 2.41-2.48s2.42 1.12 2.42 2.51c0 1.39-1.09 2.51-2.42 2.51z'/%3E%3C/defs%3E%3Cmask id='c'%3E%3Crect width='100%25' height='100%25' fill='%23fff'/%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3Cg opacity='.3' stroke='%23000' stroke-width='3'%3E%3Ccircle mask='url(%23c)' cx='11.5' cy='11.5' r='9.25'/%3E%3Cuse xlink:href='%23b' mask='url(%23c)'/%3E%3C/g%3E%3Cg opacity='.9' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23b'/%3E%3C/g%3E%3C/svg%3E");}
    @media (-ms-high-contrast:active){
    a.mapboxgl-ctrl-logo{background-color:transparent;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='88' height='23' viewBox='0 0 88 23' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill-rule='evenodd'%3E%3Cdefs%3E%3Cpath id='a' d='M11.5 2.25c5.105 0 9.25 4.145 9.25 9.25s-4.145 9.25-9.25 9.25-9.25-4.145-9.25-9.25 4.145-9.25 9.25-9.25zM6.997 15.983c-.051-.338-.828-5.802 2.233-8.873a4.395 4.395 0 013.13-1.28c1.27 0 2.49.51 3.39 1.42.91.9 1.42 2.12 1.42 3.39 0 1.18-.449 2.301-1.28 3.13C12.72 16.93 7 16 7 16l-.003-.017zM15.3 10.5l-2 .8-.8 2-.8-2-2-.8 2-.8.8-2 .8 2 2 .8z'/%3E%3Cpath id='b' d='M50.63 8c.13 0 .23.1.23.23V9c.7-.76 1.7-1.18 2.73-1.18 2.17 0 3.95 1.85 3.95 4.17s-1.77 4.19-3.94 4.19c-1.04 0-2.03-.43-2.74-1.18v3.77c0 .13-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V8.23c0-.12.1-.23.23-.23h1.4zm-3.86.01c.01 0 .01 0 .01-.01.13 0 .22.1.22.22v7.55c0 .12-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V15c-.7.76-1.69 1.19-2.73 1.19-2.17 0-3.94-1.87-3.94-4.19 0-2.32 1.77-4.19 3.94-4.19 1.03 0 2.02.43 2.73 1.18v-.75c0-.12.1-.23.23-.23h1.4zm26.375-.19a4.24 4.24 0 00-4.16 3.29c-.13.59-.13 1.19 0 1.77a4.233 4.233 0 004.17 3.3c2.35 0 4.26-1.87 4.26-4.19 0-2.32-1.9-4.17-4.27-4.17zM60.63 5c.13 0 .23.1.23.23v3.76c.7-.76 1.7-1.18 2.73-1.18 1.88 0 3.45 1.4 3.84 3.28.13.59.13 1.2 0 1.8-.39 1.88-1.96 3.29-3.84 3.29-1.03 0-2.02-.43-2.73-1.18v.77c0 .12-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V5.23c0-.12.1-.23.23-.23h1.4zm-34 11h-1.4c-.13 0-.23-.11-.23-.23V8.22c.01-.13.1-.22.23-.22h1.4c.13 0 .22.11.23.22v.68c.5-.68 1.3-1.09 2.16-1.1h.03c1.09 0 2.09.6 2.6 1.55.45-.95 1.4-1.55 2.44-1.56 1.62 0 2.93 1.25 2.9 2.78l.03 5.2c0 .13-.1.23-.23.23h-1.41c-.13 0-.23-.11-.23-.23v-4.59c0-.98-.74-1.71-1.62-1.71-.8 0-1.46.7-1.59 1.62l.01 4.68c0 .13-.11.23-.23.23h-1.41c-.13 0-.23-.11-.23-.23v-4.59c0-.98-.74-1.71-1.62-1.71-.85 0-1.54.79-1.6 1.8v4.5c0 .13-.1.23-.23.23zm53.615 0h-1.61c-.04 0-.08-.01-.12-.03-.09-.06-.13-.19-.06-.28l2.43-3.71-2.39-3.65a.213.213 0 01-.03-.12c0-.12.09-.21.21-.21h1.61c.13 0 .24.06.3.17l1.41 2.37 1.4-2.37a.34.34 0 01.3-.17h1.6c.04 0 .08.01.12.03.09.06.13.19.06.28l-2.37 3.65 2.43 3.7c0 .05.01.09.01.13 0 .12-.09.21-.21.21h-1.61c-.13 0-.24-.06-.3-.17l-1.44-2.42-1.44 2.42a.34.34 0 01-.3.17zm-7.12-1.49c-1.33 0-2.42-1.12-2.42-2.51 0-1.39 1.08-2.52 2.42-2.52 1.33 0 2.42 1.12 2.42 2.51 0 1.39-1.08 2.51-2.42 2.52zm-19.865 0c-1.32 0-2.39-1.11-2.42-2.48v-.07c.02-1.38 1.09-2.49 2.4-2.49 1.32 0 2.41 1.12 2.41 2.51 0 1.39-1.07 2.52-2.39 2.53zm-8.11-2.48c-.01 1.37-1.09 2.47-2.41 2.47s-2.42-1.12-2.42-2.51c0-1.39 1.08-2.52 2.4-2.52 1.33 0 2.39 1.11 2.41 2.48l.02.08zm18.12 2.47c-1.32 0-2.39-1.11-2.41-2.48v-.06c.02-1.38 1.09-2.48 2.41-2.48s2.42 1.12 2.42 2.51c0 1.39-1.09 2.51-2.42 2.51z'/%3E%3C/defs%3E%3Cmask id='c'%3E%3Crect width='100%25' height='100%25' fill='%23fff'/%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3Cg stroke='%23000' stroke-width='3'%3E%3Ccircle mask='url(%23c)' cx='11.5' cy='11.5' r='9.25'/%3E%3Cuse xlink:href='%23b' mask='url(%23c)'/%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23b'/%3E%3C/g%3E%3C/svg%3E");}
    }
    @media (-ms-high-contrast:black-on-white){
    a.mapboxgl-ctrl-logo{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='88' height='23' viewBox='0 0 88 23' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill-rule='evenodd'%3E%3Cdefs%3E%3Cpath id='a' d='M11.5 2.25c5.105 0 9.25 4.145 9.25 9.25s-4.145 9.25-9.25 9.25-9.25-4.145-9.25-9.25 4.145-9.25 9.25-9.25zM6.997 15.983c-.051-.338-.828-5.802 2.233-8.873a4.395 4.395 0 013.13-1.28c1.27 0 2.49.51 3.39 1.42.91.9 1.42 2.12 1.42 3.39 0 1.18-.449 2.301-1.28 3.13C12.72 16.93 7 16 7 16l-.003-.017zM15.3 10.5l-2 .8-.8 2-.8-2-2-.8 2-.8.8-2 .8 2 2 .8z'/%3E%3Cpath id='b' d='M50.63 8c.13 0 .23.1.23.23V9c.7-.76 1.7-1.18 2.73-1.18 2.17 0 3.95 1.85 3.95 4.17s-1.77 4.19-3.94 4.19c-1.04 0-2.03-.43-2.74-1.18v3.77c0 .13-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V8.23c0-.12.1-.23.23-.23h1.4zm-3.86.01c.01 0 .01 0 .01-.01.13 0 .22.1.22.22v7.55c0 .12-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V15c-.7.76-1.69 1.19-2.73 1.19-2.17 0-3.94-1.87-3.94-4.19 0-2.32 1.77-4.19 3.94-4.19 1.03 0 2.02.43 2.73 1.18v-.75c0-.12.1-.23.23-.23h1.4zm26.375-.19a4.24 4.24 0 00-4.16 3.29c-.13.59-.13 1.19 0 1.77a4.233 4.233 0 004.17 3.3c2.35 0 4.26-1.87 4.26-4.19 0-2.32-1.9-4.17-4.27-4.17zM60.63 5c.13 0 .23.1.23.23v3.76c.7-.76 1.7-1.18 2.73-1.18 1.88 0 3.45 1.4 3.84 3.28.13.59.13 1.2 0 1.8-.39 1.88-1.96 3.29-3.84 3.29-1.03 0-2.02-.43-2.73-1.18v.77c0 .12-.1.23-.23.23h-1.4c-.13 0-.23-.1-.23-.23V5.23c0-.12.1-.23.23-.23h1.4zm-34 11h-1.4c-.13 0-.23-.11-.23-.23V8.22c.01-.13.1-.22.23-.22h1.4c.13 0 .22.11.23.22v.68c.5-.68 1.3-1.09 2.16-1.1h.03c1.09 0 2.09.6 2.6 1.55.45-.95 1.4-1.55 2.44-1.56 1.62 0 2.93 1.25 2.9 2.78l.03 5.2c0 .13-.1.23-.23.23h-1.41c-.13 0-.23-.11-.23-.23v-4.59c0-.98-.74-1.71-1.62-1.71-.8 0-1.46.7-1.59 1.62l.01 4.68c0 .13-.11.23-.23.23h-1.41c-.13 0-.23-.11-.23-.23v-4.59c0-.98-.74-1.71-1.62-1.71-.85 0-1.54.79-1.6 1.8v4.5c0 .13-.1.23-.23.23zm53.615 0h-1.61c-.04 0-.08-.01-.12-.03-.09-.06-.13-.19-.06-.28l2.43-3.71-2.39-3.65a.213.213 0 01-.03-.12c0-.12.09-.21.21-.21h1.61c.13 0 .24.06.3.17l1.41 2.37 1.4-2.37a.34.34 0 01.3-.17h1.6c.04 0 .08.01.12.03.09.06.13.19.06.28l-2.37 3.65 2.43 3.7c0 .05.01.09.01.13 0 .12-.09.21-.21.21h-1.61c-.13 0-.24-.06-.3-.17l-1.44-2.42-1.44 2.42a.34.34 0 01-.3.17zm-7.12-1.49c-1.33 0-2.42-1.12-2.42-2.51 0-1.39 1.08-2.52 2.42-2.52 1.33 0 2.42 1.12 2.42 2.51 0 1.39-1.08 2.51-2.42 2.52zm-19.865 0c-1.32 0-2.39-1.11-2.42-2.48v-.07c.02-1.38 1.09-2.49 2.4-2.49 1.32 0 2.41 1.12 2.41 2.51 0 1.39-1.07 2.52-2.39 2.53zm-8.11-2.48c-.01 1.37-1.09 2.47-2.41 2.47s-2.42-1.12-2.42-2.51c0-1.39 1.08-2.52 2.4-2.52 1.33 0 2.39 1.11 2.41 2.48l.02.08zm18.12 2.47c-1.32 0-2.39-1.11-2.41-2.48v-.06c.02-1.38 1.09-2.48 2.41-2.48s2.42 1.12 2.42 2.51c0 1.39-1.09 2.51-2.42 2.51z'/%3E%3C/defs%3E%3Cmask id='c'%3E%3Crect width='100%25' height='100%25' fill='%23fff'/%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3Cg stroke='%23fff' stroke-width='3' fill='%23fff'%3E%3Ccircle mask='url(%23c)' cx='11.5' cy='11.5' r='9.25'/%3E%3Cuse xlink:href='%23b' mask='url(%23c)'/%3E%3C/g%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23b'/%3E%3C/svg%3E");}
    }
    }
    /*! CSS Used from: https://unpkg.com/leaflet@1.0.3/dist/leaflet.css ; media=screen */
    @media screen{
    .leaflet-pane,.leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-tile-container,.leaflet-image-layer,.leaflet-layer{position:absolute;left:0;top:0;}
    .leaflet-container{overflow:hidden;}
    .leaflet-tile,.leaflet-marker-icon,.leaflet-marker-shadow{-webkit-user-select:none;-moz-user-select:none;user-select:none;-webkit-user-drag:none;}
    .leaflet-marker-icon,.leaflet-marker-shadow{display:block;}
    .leaflet-container .leaflet-marker-pane img,.leaflet-container .leaflet-shadow-pane img,.leaflet-container .leaflet-tile-pane img{max-width:none!important;}
    .leaflet-container.leaflet-touch-zoom{-ms-touch-action:pan-x pan-y;touch-action:pan-x pan-y;}
    .leaflet-container.leaflet-touch-drag{-ms-touch-action:pinch-zoom;}
    .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{-ms-touch-action:none;touch-action:none;}
    .leaflet-tile{filter:inherit;visibility:hidden;}
    .leaflet-tile-loaded{visibility:inherit;}
    .leaflet-pane{z-index:400;}
    .leaflet-tile-pane{z-index:200;}
    .leaflet-overlay-pane{z-index:400;}
    .leaflet-shadow-pane{z-index:500;}
    .leaflet-marker-pane{z-index:600;}
    .leaflet-tooltip-pane{z-index:650;}
    .leaflet-popup-pane{z-index:700;}
    .leaflet-map-pane canvas{z-index:100;}
    .leaflet-control{position:relative;z-index:800;pointer-events:visiblePainted;pointer-events:auto;}
    .leaflet-top,.leaflet-bottom{position:absolute;z-index:1000;pointer-events:none;}
    .leaflet-top{top:0;}
    .leaflet-right{right:0;}
    .leaflet-bottom{bottom:0;}
    .leaflet-left{left:0;}
    .leaflet-control{float:left;clear:both;}
    .leaflet-right .leaflet-control{float:right;}
    .leaflet-top .leaflet-control{margin-top:10px;}
    .leaflet-bottom .leaflet-control{margin-bottom:10px;}
    .leaflet-left .leaflet-control{margin-left:10px;}
    .leaflet-right .leaflet-control{margin-right:10px;}
    .leaflet-fade-anim .leaflet-tile{will-change:opacity;}
    .leaflet-zoom-animated{-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;}
    .leaflet-interactive{cursor:pointer;}
    .leaflet-grab{cursor:-webkit-grab;cursor:-moz-grab;}
    .leaflet-popup-pane,.leaflet-control{cursor:auto;}
    .leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-image-layer,.leaflet-tile-container{pointer-events:none;}
    .leaflet-marker-icon.leaflet-interactive{pointer-events:visiblePainted;pointer-events:auto;}
    .leaflet-container{background:#ddd;outline:0;}
    .leaflet-container a{color:#0078A8;}
    .leaflet-container{font:12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;}
    .leaflet-bar{box-shadow:0 1px 5px rgba(0,0,0,0.65);border-radius:4px;}
    .leaflet-bar a,.leaflet-bar a:hover{background-color:#fff;border-bottom:1px solid #ccc;width:26px;height:26px;line-height:26px;display:block;text-align:center;text-decoration:none;color:black;}
    .leaflet-bar a{background-position:50% 50%;background-repeat:no-repeat;display:block;}
    .leaflet-bar a:hover{background-color:#f4f4f4;}
    .leaflet-bar a:first-child{border-top-left-radius:4px;border-top-right-radius:4px;}
    .leaflet-bar a:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-bottom:none;}
    .leaflet-touch .leaflet-bar a{width:30px;height:30px;line-height:30px;}
    .leaflet-control-zoom-in,.leaflet-control-zoom-out{font:bold 18px 'Lucida Console', Monaco, monospace;text-indent:1px;}
    .leaflet-control-zoom-out{font-size:20px;}
    .leaflet-touch .leaflet-control-zoom-in{font-size:22px;}
    .leaflet-touch .leaflet-control-zoom-out{font-size:24px;}
    .leaflet-container .leaflet-control-attribution{background:#fff;background:rgba(255, 255, 255, 0.7);margin:0;}
    .leaflet-control-attribution{padding:0 5px;color:#333;}
    .leaflet-control-attribution a{text-decoration:none;}
    .leaflet-control-attribution a:hover{text-decoration:underline;}
    .leaflet-container .leaflet-control-attribution{font-size:11px;}
    .leaflet-touch .leaflet-control-attribution,.leaflet-touch .leaflet-bar{box-shadow:none;}
    .leaflet-touch .leaflet-bar{border:2px solid rgba(0,0,0,0.2);background-clip:padding-box;}
    }
    /*! CSS Used from: Embedded */
    .fb_iframe_widget{display:inline-block;position:relative;}
    .fb_iframe_widget span{display:inline-block;position:relative;text-align:justify;}
    .fb_iframe_widget iframe{position:absolute;}
    /*! CSS Used from: Embedded */
    .wrapper{max-width:100%;}
    .wrapper .two-photos{display:flex;padding:0;height:25vw;-webkit-transition:.1s ease-in-out;-o-transition:ease-in-out .1s;transition:.1s ease-in-out;align-items:center;overflow:hidden;background:black;}
    .wrapper .two-photos .first-image,.wrapper .two-photos .second-img{width:50%;overflow:hidden;height:100%;transition:450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;}
    .wrapper .two-photos .first-image img,.wrapper .two-photos .second-img img{max-height:100%;max-width:100%;object-fit:cover;height:auto!important;transform:scale(1)!important;opacity:1!important;transition:-ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;}
    .wrapper .two-photos .first-image img:hover,.wrapper .two-photos .second-img img:hover{transform:scale(1.05)!important;transition:-ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;}
    .wrapper .listing-image-frame{padding:0;height:25vw;}
    .wrapper .listing-image-carousel{padding:0;height:25vw;-webkit-transition:.1s ease-in-out;-o-transition:ease-in-out .1s;transition:.1s ease-in-out;}
    .wrapper .listing-image-carousel:hover{-webkit-transform:scale(1.005);-ms-transform:scale(1.005);transform:scale(1.005);-webkit-box-shadow:0 0 50px 0 rgba(0, 0, 0, 0.1);box-shadow:0 0 50px 0 rgba(0, 0, 0, 0.1);}
    .wrapper .listing-details-container{padding:0 1.5625em;position:relative;}
    .wrapper .listing-details-container .mark-fav-listing{position:absolute;right:40px;top:15px;width:36px;height:36px;border-radius:50%;border:1px solid #f0f0f0;box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.1);background:#fff;}
    .wrapper .listing-details-container .mark-fav-listing .mark-favourite{position:absolute;top:3px;right:3px;}
    .wrapper .listing-details-container .mark-fav-listing .mark-favourite label{margin:0px;}
    .wrapper .listing-details-container .mark-fav-listing .mark-favourite label{margin:0;}
    .wrapper .listing-details-container .mark-fav-listing .favourite-icon{height:100%;padding:0;}
    .wrapper .listing-details-container .view-all-photos{color:#3c3c3c;font-weight:500;font-size:13px;position:absolute;bottom:35px;right:50px;padding:6px 13px 8px;background-color:#fff;border:none;border-radius:2px;-webkit-transition:.1s ease-in-out;-o-transition:ease-in-out .1s;transition:.1s ease-in-out;margin:0;}
    .wrapper .listing-details-container .view-all-photos:hover{background-color:#d79B28;color:#fff;}
    .wrapper .listing-details-container .view-all-photos:focus{outline:none;}
    @media screen and (max-width: 768px){
    .wrapper .listing-details-container .view-all-photos{bottom:20px;right:25px;}
    }
    @media screen and (max-width: 1024px){
    .wrapper .listing-details-container{padding:0;}
    }
    .listing-price{margin-right:2.25em;margin-bottom:1.125em;display:flex;flex-direction:column;}
    .listing-title-heading{color:#4a4a4a;font-size:48px;font-weight:600;line-height:47px;margin-top:0;letter-spacing:-2px;margin-bottom:5px;}
    .listing-price-amount{font-size:48px;font-weight:600;line-height:45px;color:#d79B28;margin-right:0;}
    .listing-details-container{width:100%;}
    .listing-author-avatar-image{border-radius:50%;}
    .listing-author-profile-contact{font-weight:500;font-size:16px;display:flex;}
    .listing-author-profile-contact a{margin:0;padding:0;border:none;color:#d79B28;text-decoration:none;}
    .listing-author-profile-contact .profile-contact-seperator{margin:0 10px;color:#d79B28;}
    .listing-category-host{font-weight:500;font-size:16px;display:flex;}
    .listing-price-quantity{font-weight:500;font-size:16px;color:#3c3c3c;}
    .profile-contact-seperator{margin:0 6px;}
    .custom_field_value_flex b{font-weight:600;color:#b2b2b2;}
    .listing-author{display:flex;}
    .listing-author .listing-author-avatar{width:96px;height:96px;}
    .listing-author .listing-author-details{padding-left:5.8125em;margin-top:15px;}
    .listing-author .listing-author-details .profile-about-me{margin-top:10px;font-size:16px;line-height:24px;}
    .listing-author .listing-author-contact{display:flex;}
    .listing-author .listing-author-contact .listing-author-contact-link{color:white!important;padding:2px 10px!important;border-radius:5px!important;}
    .listing-author .listing-author-contact .listing-author-contact-link:hover{cursor:pointer;}
    .listing-author .listing-author-name-text{font-weight:600;font-size:24px;}
    .listing-author .listing-author-name-text .listing-author-name-link{overflow:inherit;}
    .hostname-text{margin-left:5px;}
    .listing-image{display:block;margin:auto;width:100%;height:auto;width:100%;height:25vw;object-fit:cover;}
    .listing-image.too-narrow{display:block;margin:auto;height:100%;width:auto;object-fit:cover;}
    .listing-author-contact-flex{display:flex;align-items:start;}
    .listing-author-contact-flex .listing-author-contact-link{color:white!important;padding:2px 10px!important;border-radius:5px!important;}
    @media screen and (max-width: 768px){
    .listing-author-contact-flex{display:none;}
    }
    input{border-bottom-color:#d79B28;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .listing-price-amount-flex{color:#d79B28;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .perform-listing-actions-btn{background-color:#d79B28;}
    .flex-listing-details-and-actions .booking-panel .booking-panel-link .perform-listing-actions-btn:hover{background-color:#976c1c;}
    .flex-image-carousel #listing-image-link{height:100%;}
    .flex-image-carousel #listing-image-link .listing-image-vertical-centering{height:100%;padding-bottom:10px;}
    .flex-image-carousel #listing-image-link .listing-image-vertical-centering .listing-image{height:100%;width:auto;max-width:100%;}
    @media screen and (max-width: 768px){
    .wrapper{padding:0px 7px;}
    .wrapper .flex-listing-details-and-actions .listing-all-details{padding:0;}
    .two-photos{height:48vw!important;}
    .two-photos .first-image img{height:100%!important;}
    .wrapper .two-photos .first-image img,.wrapper .two-photos .second-img img{height:100%!important;width:auto!important;}
    .thumbnail-author-avatar{top:-75px!important;}
    .flex-listing-details-and-actions{margin:28px auto 117px;}
    }
    /*! CSS Used from: Embedded */
    .flex-image-carousel{display:none;flex-direction:column;position:fixed;top:0;right:0;bottom:0;left:0;width:100%;z-index:100;}
    .flex-image-carousel .flex-carousel-1{width:100vw;height:100vh;background-color:rgba(1, 1, 1, 0.92);}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2{width:100%;height:100%;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 button{color:#b2b2b2;-webkit-transition:.1s ease-in-out;-o-transition:ease-in-out .1s;transition:.1s ease-in-out;background-color:transparent;position:absolute;z-index:1;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 button:hover{color:#fff;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 button:focus{outline:none;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 .flex-carousel-3{padding:100px 10vw;position:relative;width:100%;height:100%;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 .flex-carousel-3 .listing-image-carousel{position:relative;display:flex;-ms-flex-direction:row;flex-direction:row;width:100%;height:100%;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 .flex-carousel-3 .listing-image-carousel .listing-image-frame{background-color:transparent;height:100%;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 .flex-carousel-3 .listing-image-carousel .listing-image-frame .listing-image-vertical-centering{vertical-align:middle;}
    .flex-image-carousel .flex-carousel-1 .flex-carousel-2 .flex-carousel-3 .listing-image-carousel .listing-image-frame img{object-fit:contain;}
    /*! CSS Used fontfaces */
    @font-face{font-family:'FontAwesome';src:url(https://www.3n-immo.com/assets/fontawesome-webfont-e07d3b0225ad8e9438927341d63485e01c767edf1e2930b16f0a0bf907ae0d82.eot?v=3.0.1);src:url(https://www.3n-immo.com/assets/fontawesome-webfont-e07d3b0225ad8e9438927341d63485e01c767edf1e2930b16f0a0bf907ae0d82.eot#iefix&v=3.0.1) format("embedded-opentype"),url(https://www.3n-immo.com/assets/fontawesome-webfont-a6fb906942932de53852ee244ee3fec27bca0bf63a96421672aa4784851b8d4b.woff?v=3.0.1) format("woff"),url(https://www.3n-immo.com/assets/fontawesome-webfont-1eb7466293db9378858da3694dd11620ec9c351fb7cefef1a94a3802803e1fa3.ttf?v=3.0.1) format("truetype");font-weight:normal;font-style:normal;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format('woff2');unicode-range:U+0370-03FF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmhduz8A.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxduz8A.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmxduz8A.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlBduz8A.woff2) format('woff2');unicode-range:U+0370-03FF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmBduz8A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'sofiapro';src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format('woff2'),                  url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format('woff');font-weight:400;font-style:normal;}
    @font-face{font-family:'sofiapro';src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format('woff2'),                  url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format('woff');font-weight:500;font-style:normal;}
    @font-face{font-family:'sofiapro';src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format('woff2'),                  url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format('woff');font-weight:500;font-style:italic;}
    @font-face{font-family:'sofiapro';src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format('woff2'),                  url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format('woff');font-weight:600;font-style:normal;}
    @font-face{font-family:'sofiapro';src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format('woff2'),                  url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format('woff');font-weight:700;font-style:normal;}