@media screen {
    [class^="icon-"],
    [class*=" icon-"] {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        display: inline;
        width: auto;
        height: auto;
        line-height: normal;
        vertical-align: baseline;
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat;
        margin-top: 0;
    }
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        text-decoration: inherit;
        display: inline-block;
        speak: none;
    }
    a [class^="icon-"],
    a [class*=" icon-"] {
        display: inline-block;
    }
    .icon-lock:before {
        content: "\f023";
    }
    .icon-book:before {
        content: "\f02d";
    }
    .icon-info-sign:before {
        content: "\f05a";
    }
    .icon-file-alt:before {
        content: "\f0f6";
    }
    div,
    h1,
    article {
        margin: 0;
        padding: 0;
        border: 0;
    }
    h1 {
        font-size: 1em;
    }
    article {
        display: block;
    }
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        -ms-touch-action: none !important;
    }
    .page-content {
        padding-bottom: 3em;
        padding-top: 0.75em;
        min-height: 80vh;
        background-color: white;
    }
    .page-content br {
        height: 0.75em;
    }
    @media (min-width: 48em) {
        .page-content {
            padding-top: 1.5em;
        }
    }
    .dropdown-icon {
        border: solid #4b4b4b;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        top: 5px !important;
        position: relative;
        top: 3px;
        float: right;
    }
    @media (min-width: 48em) {
        .dropdown-icon {
            float: none;
        }
    }
    .left-navi-section {
        margin-top: 0.375em;
    }
    .left-navi-section {
        padding: 0.75em 0;
    }
    @media (min-width: 48em) {
        .left-navi-section {
            padding: 0 0.75em;
            margin-left: 15.75em;
        }
    }
    @media (min-width: 63em) {
        .left-navi-section {
            padding: 0;
        }
    }
    .left-navi {
        display: none;
        margin-top: -0.375em;
    }
    @media (min-width: 48em) {
        .left-navi {
            display: block;
            position: absolute;
        }
        .left-navi a {
            position: relative;
            padding: 0.375em 0.75em;
            display: block;
            font-weight: normal;
            cursor: pointer;
            -moz-border-radius: 0.3125em;
            -webkit-border-radius: 0.3125em;
            border-radius: 0.3125em;
            width: 14.25em;
            min-height: 2.375em;
        }
        .left-navi a.selected {
            background: #e8e8e8;
        }
        .left-navi a.selected:after {
            display: block;
            position: absolute;
            right: 0.75em;
            top: 0.4375em;
            content: "→";
        }
        .left-navi .left-navi-link-text {
            padding: 0 1.5em 0 1.5em;
        }
        .left-navi .left-navi-link-icon {
            position: absolute;
            top: 0.5em;
        }
    }
    .icon-with-text {
        display: inline-block;
        padding-right: 0.25em;
        position: relative;
        top: 0.125em;
    }
    .text-with-icon {
        display: inline-block;
    }
    @media (min-width: 48em) {
        .about-section {
            min-height: 250px;
        }
    }
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    h1 {
        color: #222;
        font-weight: 700;
        font-family: inherit;
        line-height: 1.333;
        text-rendering: optimizeLegibility;
    }
    @media (min-width: 48em) {
        .hidden-tablet {
            display: none !important;
        }
    }
    a {
        text-decoration: none;
        color: #ff7d2d;
    }
    a:hover {
        color: #e05500;
    }
    a:active {
        color: #ad4200;
    }
    h1 {
        -webkit-font-smoothing: antialiased;
    }
    h1 {
        font-family: "Source Sans Pro", helvetica, sans-serif;
        color: #171717;
    }
    h1 {
        margin: 0em 0 0.75em;
        font-weight: 700;
    }
    @media (min-width: 37.5em) {
        h1 {
            font-size: 1.625em;
            line-height: 1.38462em;
            font-weight: 600;
            margin-top: 0.23077em;
            margin-bottom: 0.46154em;
        }
    }
    .toggle-menu {
        margin-top: 7px;
        background: #fff;
        position: relative;
        z-index: 99999;
        text-align: left;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        min-width: 300px;
        font-family: sofiapro, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        border-radius: 0.3125em;
        margin-bottom: 0.75em;
    }
    .toggle-menu a {
        display: block;
        position: relative;
        color: #3c3c3c;
        padding: 0.75em;
        padding-right: 0.75em;
    }
    .toggle-menu a:hover {
        background: #fff;
        color: #4a4a4a;
    }
    .toggle-menu a:hover:after {
        color: white;
    }
    .toggle-menu.hidden {
        display: none;
    }
    @media (min-width: 48em) {
        .toggle-menu {
            position: absolute;
        }
    }
    .toggle {
        display: block;
        cursor: pointer;
    }
    @media (min-width: 48em) {
        .toggle {
            display: inline-block;
            width: auto;
        }
    }
    .toggle.with-borders {
        padding: 0px 8px;
        border: 1px solid #e7e7e8;
        transition: all 0.3s;
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        border-radius: 0.3125em;
        background: #fff;
    }
    .toggle.with-borders:hover {
        border-color: #e7e7e880;
        background-color: #e7e7e880;
    }
    .toggle.with-borders:focus {
        border-color: #e7e7e880;
        background-color: #e7e7e880;
        border-color: none;
        outline: none;
    }
    .hidden {
        display: none;
    }
    .left-navi-dropdown {
        color: #3c3c3c;
        padding: 0.625em 0.75em;
        border-bottom: 1px dotted #c3c3c3;
    }
    .left-navi-dropdown:hover {
        background: #e8e8e8;
    }
    .wrapper {
        background: white;
        margin: 0 auto;
        max-width: 78em;
        padding-left: 1.125em;
        padding-right: 1.125em;
    }
    @media (min-width: 48em) {
        .wrapper {
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    }
    .menu-text {
        color: white;
        border-bottom: 1px solid gray;
        padding: 2% 3%;
    }
    .hidden {
        display: none;
    }
}
/*! CSS Used from: Embedded */
.toggle-menu a:hover {
    background: #d79b28;
}
a {
    color: #d79b28;
}
a:hover {
    color: #976c1c;
}
a:active {
    color: #6c4d14;
}
/*! CSS Used from: Embedded */
.toggle-menu a:hover {
    background-color: #fff;
    color: #000;
}
/*! CSS Used from: Embedded */
a,
h1 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "FontAwesome";
    src: url(https://www.3n-immo.com/assets/fontawesome-webfont-e07d3b0225ad8e9438927341d63485e01c767edf1e2930b16f0a0bf907ae0d82.eot?v=3.0.1);
    src: url(https://www.3n-immo.com/assets/fontawesome-webfont-e07d3b0225ad8e9438927341d63485e01c767edf1e2930b16f0a0bf907ae0d82.eot#iefix&v=3.0.1) format("embedded-opentype"),
        url(https://www.3n-immo.com/assets/fontawesome-webfont-a6fb906942932de53852ee244ee3fec27bca0bf63a96421672aa4784851b8d4b.woff?v=3.0.1) format("woff"),
        url(https://www.3n-immo.com/assets/fontawesome-webfont-1eb7466293db9378858da3694dd11620ec9c351fb7cefef1a94a3802803e1fa3.ttf?v=3.0.1) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhduz8A.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxduz8A.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBduz8A.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmhduz8A.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxduz8A.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmxduz8A.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlBduz8A.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmBduz8A.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
