/*! CSS Used from: https://www.3n-immo.com/assets/application-67cc37fd8b648aa2ea462a26ef0581e8bbdfc0599b57f832e9caf691e5a4b943.css ; media=screen */
@media screen {
    div,
    form,
    label,
    article {
        margin: 0;
        padding: 0;
        border: 0;
    }
    article {
        display: block;
    }
    input,
    textarea,
    button {
        margin: 0;
        font-size: 100%;
        line-height: normal;
        vertical-align: baseline;
        font-family: inherit;
    }
    button {
        cursor: pointer;
        -webkit-appearance: button;
    }
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    textarea {
        overflow: auto;
    }
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    input,
    button {
        -ms-touch-action: none !important;
    }
    .page-content {
        padding-bottom: 3em;
        padding-top: 0.75em;
        min-height: 80vh;
        background-color: white;
    }
    @media (min-width: 48em) {
        .page-content {
            padding-top: 1.5em;
        }
    }
    .centered-section {
        margin-top: 0.375em;
    }
    .centered-section textarea {
        min-height: 7.5em;
    }
    .centered-section {
        max-width: 28.5em;
    }
    .centered-section {
        padding: 0.75em;
        margin-left: auto;
        margin-right: auto;
    }
    .centered-section form {
        padding-bottom: 3em;
    }
    @media (min-width: 63em) {
        .centered-section {
            padding: 0 0.75em;
        }
    }
    .unwanted_text_field {
        display: none;
    }
    label {
        width: 100%;
        display: block;
        margin-top: 0.75em;
        margin-bottom: 0.1875em;
        font-weight: 600;
    }
    button {
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        border-radius: 0.3125em;
        background: #ff7d2d;
        color: white;
        text-align: center;
        cursor: pointer;
        margin: 0.75em 0;
        padding: 0 1.5em;
        padding-bottom: 4px;
        height: 2.625em;
        border: 0;
        display: table;
        line-height: 1.5em;
        padding-top: 0.5625em;
        padding-bottom: 0.5625em;
        height: auto;
    }
    button:hover {
        background: #ff6d14;
        color: white;
    }
    button:active {
        background: #f95f00;
        color: white;
    }
    .new-feedback-form {
        padding-top: 1.5em;
    }
    @media (min-width: 48em) {
        .new-feedback-form {
            padding-top: 0;
        }
    }
    .new-feedback-form .recaptcha-error {
        margin-top: 0.75em;
        margin-bottom: 0.1875em;
    }
    .new-feedback-form .recaptcha-error span {
        display: none;
    }
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    input[type="text"],
    textarea {
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        border-radius: 0.3125em;
        border: 2px solid #c3c3c3;
        min-height: 42px;
        width: 100%;
        padding: 0.25em 0.5em;
    }
    @media (min-width: 48em) {
        input[type="text"],
        textarea {
            margin: 0;
            padding: 0.5em 0.6875em;
        }
    }
    .wrapper {
        background: white;
        margin: 0 auto;
        max-width: 78em;
        padding-left: 1.125em;
        padding-right: 1.125em;
    }
    @media (min-width: 48em) {
        .wrapper {
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    }
}
/*! CSS Used from: Embedded */
button {
    background: #d79b28;
}
button:hover {
    background: #c28b24;
}
button:active {
    background: #ac7c20;
}
