/*! CSS Used from: https://www.3n-immo.com/assets/application-67cc37fd8b648aa2ea462a26ef0581e8bbdfc0599b57f832e9caf691e5a4b943.css ; media=screen */
@media screen {
    div,
    h1,
    form,
    label,
    article {
        margin: 0;
        padding: 0;
        border: 0;
    }
    h1 {
        font-size: 1em;
    }
    article {
        display: block;
    }
    input,
    button {
        margin: 0;
        font-size: 100%;
        line-height: normal;
        vertical-align: baseline;
        font-family: inherit;
    }
    button {
        cursor: pointer;
        -webkit-appearance: button;
    }
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    img {
        -ms-interpolation-mode: bicubic;
        border: 0;
    }
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    a,
    input,
    button {
        -ms-touch-action: none !important;
    }
    .page-content {
        padding-bottom: 3em;
        padding-top: 0.75em;
        min-height: 80vh;
        background-color: white;
    }
    @media (min-width: 48em) {
        .page-content {
            padding-top: 1.5em;
        }
    }
    label {
        width: 100%;
        display: block;
        margin-top: 0.75em;
        margin-bottom: 0.1875em;
        font-weight: 600;
    }
    button {
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        border-radius: 0.3125em;
        background: #ff7d2d;
        color: white;
        text-align: center;
        cursor: pointer;
        margin: 0.75em 0;
        padding: 0 1.5em;
        padding-bottom: 4px;
        height: 2.625em;
        border: 0;
        display: table;
        line-height: 1.5em;
        padding-top: 0.5625em;
        padding-bottom: 0.5625em;
        height: auto;
    }
    button:hover {
        background: #ff6d14;
        color: white;
    }
    button:active {
        background: #f95f00;
        color: white;
    }
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    h1 {
        color: #222;
        font-weight: 700;
        font-family: inherit;
        line-height: 1.333;
        text-rendering: optimizeLegibility;
    }
    .flex-form-group {
        margin-bottom: 32px;
    }
    input[type="text"],
    input[type="password"] {
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        border-radius: 0.3125em;
        border: 2px solid #c3c3c3;
        min-height: 42px;
        width: 100%;
        padding: 0.25em 0.5em;
    }
    @media (min-width: 48em) {
        input[type="text"],
        input[type="password"] {
            margin: 0;
            padding: 0.5em 0.6875em;
        }
    }
    a {
        text-decoration: none;
        color: #ff7d2d;
    }
    a:hover {
        color: #e05500;
    }
    a:active {
        color: #ad4200;
    }
    h1 {
        -webkit-font-smoothing: antialiased;
    }
    h1 {
        font-family: "Source Sans Pro", helvetica, sans-serif;
        color: #171717;
    }
    h1 {
        margin: 0em 0 0.75em;
        font-weight: 700;
    }
    @media (min-width: 37.5em) {
        h1 {
            font-size: 1.625em;
            line-height: 1.38462em;
            font-weight: 600;
            margin-top: 0.23077em;
            margin-bottom: 0.46154em;
        }
    }
    .wrapper {
        background: white;
        margin: 0 auto;
        max-width: 78em;
        padding-left: 1.125em;
        padding-right: 1.125em;
    }
    @media (min-width: 48em) {
        .wrapper {
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    }
    .pos-rel {
        position: relative;
    }
    .pos-rel input {
        padding-right: 45px !important;
    }
    .pos-rel img {
        position: absolute;
        right: 10px;
        height: 17px;
        top: 12px;
    }
    .pos-rel .hidepswrd {
        display: none;
    }
}
/*! CSS Used from: Embedded */
button {
    background: #d79b28;
}
button:hover {
    background: #c28b24;
}
button:active {
    background: #ac7c20;
}
a {
    color: #d79b28;
}
a:hover {
    color: #976c1c;
}
a:active {
    color: #6c4d14;
}
/*! CSS Used from: Embedded */
a,
h1 {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used from: Embedded */
.wrapper {
    max-width: 100%;
    max-height: 100%;
}
.login-form {
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(https://yelodotred.s3-us-west-2.amazonaws.com/images/communities/cover_photos/8248/original/5.png?1616985742);
    width: 100%;
    background-size: cover;
    padding: 84px 0;
    min-height: 80vh;
}
.login-centered-section {
    max-width: 480px;
    border-bottom: 8px solid #d79b28;
    padding: 25px 60px;
    background-color: white;
    margin: 0 auto;
}
.login-centered-section .flex-form-group label {
    margin-top: 28px;
}
.login-centered-section .flex-form-group input {
    padding: 0;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #fa0;
    transition: border-bottom-color 0.2s ease-in;
}
.login-centered-section .flex-form-group input:hover,
.login-centered-section .flex-form-group input:focus {
    border-bottom-color: #4a4a4a;
    outline: none;
}
.login-centered-section .flex-form-group .forgot-password-and-login {
    margin-top: 32px;
}
.login-centered-section .flex-form-group .forgot-password-and-login .login_button {
    margin-top: 0;
    width: 100%;
    border: none;
    border-radius: 0px;
    min-height: 65px;
}
.login-centered-section .flex-form-group .forgot-password-and-login .reset-your-password {
    text-align: center;
    margin-bottom: 10px;
    color: #b2b2b2;
}
.login-centered-section .flex-form-group .forgot-password-and-login .reset-your-password a {
    color: #4a4a4a;
}
.login-centered-section .flex-form-group .forgot-password-and-login .reset-your-password a:hover {
    text-decoration: underline;
}
.horizontal-nav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.horizontal-nav .nav-tab {
    padding: 0px 14px;
}
.horizontal-nav .nav-tab a {
    color: #4a4a4a;
}
.horizontal-nav .nav-tab.login {
    border-bottom: 4px solid black;
}
.horizontal-nav .nav-tab.login a {
    color: #000;
}
@media screen and (max-width: 768px) {
    .login-form {
        background-image: none;
        padding-top: 0;
    }
    .login-form .login-centered-section {
        padding: 25px 15px;
    }
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhduz8A.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxduz8A.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBduz8A.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmhduz8A.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxduz8A.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmxduz8A.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlBduz8A.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmBduz8A.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
