/* Footer */


*,
*:before,
*:after {
    box-sizing: inherit;
}
footer {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
}
hr {
    margin: 0;
}
.footer__content {
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding: 48px 36px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .footer__content {
        padding: 48px 96px;
    }
}
@media (min-width: 1025px) {
    .footer__content {
        padding: 48px 36px;
        max-width: 1212px;
    }
}
.footer__links-container--center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin-bottom: 12px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .footer__links-container--center {
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-bottom: 18px;
    }
}
@media (min-width: 1025px) {
    .footer__links-container--center {
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-bottom: 32px;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        max-width: 1188px;
    }
}
.footer__links-container--center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
.footer__link-list {
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 0 -12px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .footer__link-list {
        margin: 0 -16px;
    }
}
@media (min-width: 1025px) {
    .footer__link-list {
        margin: 0 -16px;
    }
}
@media (min-width: 1025px) {
    .footer__container--logo .footer__content > div > .footer__link-list {
        display: none;
    }
}
.footer__link {
    display: inline-block;
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 500;
    color: inherit;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0px;
    padding: 12px 12px;
}
.footer__container--logo .footer__link {
    color: #3c3c3c;
}
.footer__container--logo .footer__link:hover {
    color: #d9d9d9;
}
@media (max-width: 767px) and (orientation: landscape) {
    .footer__link {
        padding: 12px 16px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .footer__link {
        padding: 12px 16px;
    }
}
@media (min-width: 1025px) {
    .footer__link {
        font-size: 16px;
        letter-spacing: 0px;
        padding: 16px 16px;
    }
}
.footer__logo-container .footer__logo-image {
    float: left;
}
.footer__logo-container .footer__logo-image img {
    max-width: 100%;
}
@media (min-width: 1025px) {
    .footer__logo-container .footer__logo-image {
        margin-right: 30px;
        max-width: 200px;
    }
}
.footer__separator {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    border: 0px;
    margin-top: 30px;
}
.footer__container--logo .footer__separator {
    background-color: #d4d5d7;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .footer__separator {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .footer__separator {
        margin-bottom: 30px;
    }
}
@media (min-width: 1025px) {
    .footer__separator {
        margin-bottom: 48px;
    }
}
.footer__copyrights--markdown {
    font-family: "Proxima Nova Soft", Helvetica, sans;
    font-weight: 400;
    text-align: center;
    padding: 0px 45px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 18px;
}
@media (max-width: 767px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
    .footer__copyrights--markdown {
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 18px;
    }
}
@media (min-width: 1025px) {
    .footer__copyrights--markdown {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 18px;
    }
}
.footer__social-media {
    margin: 0 -18px;
    text-align: center;
    margin-bottom: 18px;
}
@media (min-width: 1025px) {
    .footer__social-media {
        margin-bottom: 0;
    }
}
.footer__social-media-link {
    padding: 16px 18px;
    display: inline-block;
}
.footer__social-media-link:hover > svg {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.footer__facebook-icon {
    width: 12px;
    height: 22px;
}
.footer__instagram-icon {
    width: 22px;
    height: 22px;
}
.app-link-container {
    text-align: center;
    margin-bottom: 10px;
}
.app-link-container .app-links {
    display: flex;
    justify-content: center;
}
.app-link-container .download-text {
    margin-right: 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-top: 18px;
}
@media screen and (max-width: 570px) {
    .app-link-container .download-text {
        display: none;
    }
}
.footer__container--logo .app-link-container .download-text {
    color: #3c3c3c;
}
.app-link-container .download-img {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.app-link-container img {
    max-width: 110px;
    width: 100%;
    height: 40px;
    object-fit: contain;
}
.app-link-container .android-img {
    margin-right: 10px;
}
/*! CSS Used from: Embedded */
a {
    font-family: "sofiapro", helvetica, sans-serif;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "sofiapro";
    src: url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format("woff2"), url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

/*END FOOTER*/