nav{
    margin: 0px;
    padding: 0px;
  }


  #navbarNav a{
    text-align: right;
    color: black;
    font-family: "proxima Nova Soft", Helvetica, sans-serif;
    font-size: 16px;
  }

#entete {
width: 100%;
min-width: 250px;
height: 70px;
}

#entete>div{
width: 100%;
min-width: 250px;
padding: 6px 6px;
margin: 0px 0px 0px 25px;
}



#navbarNav .depot a:hover{
border-bottom: 3px solid #d79c28;
}
#entete .logo{

border-right: 1px solid #ececec;
}
#entete{
border-top: 1px solid #ececec;
border-bottom: 1px solid #ececec;

}
#entete .logo:hover {

border-bottom: 3px solid #d79c28;

}